@model IEnumerable<DQueensFashion.Models.ViewOrderViewModel>


<table class="table table-head-fixed  table-striped" id="deliveredOrdersTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Items (Qty)</th>
            <th>Customer</th>
            <th>Total Amt</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @{
                        foreach (var lineItem in item.LineItems)
                        {
                            <p class="m-0">@lineItem.ProductName (@lineItem.Quantity) </p>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.Raw(item.DateCreatedString.Replace(Environment.NewLine, "<br/>"))
                </td>
                <td>
                    <a href="@Url.Action(" ReturnOrder",new {id=item.OrderId})" class="btn btn-xs primary-table-button">Returned</a>
                    <a href="@Url.Action("CompleteOrder",new {id=item.OrderId})" class="btn btn-xs primary-table-button">Completed</a>

                    <a href="@Url.Action("OrderDetails",new {id = item.OrderId})" class="sbtn btn-xs econdary-table-button">
                        <img src="~/Content/Images/info.svg" />
                    </a>

                </td>
            </tr>

        }
    </tbody>
</table>