@model IEnumerable<DQueensFashion.Models.ViewProductsViewModel>

<table class="table table-head-fixed  table-striped" id="productsTable">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price ($)</th>
            <th>Discount (%)</th>
            <th>Total ($)</th>
            <th>Qty</th>
            <th>Date created</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="products-table-image">
                    <img src="@Url.Content(item.MainImage)" alt="@item.Name _image_houseofdqueens" />
                </td>
                <td class="product-name-desc">
                    <a href="@Url.Action("ProductDetails","Admin",new { id = item.GeneratedUrl})">
                        <div>
                            @item.Name
                        </div>
                    </a>
                    <div>@item.Category</div>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.Raw(item.DateCreatedString.Replace(Environment.NewLine, "<br/>"))
                </td>
                <td>
                    <a href="@Url.Action("EditProduct",new {id=item.Id})" class="primary-table-button btn btn-xs">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="@Url.Action("ProductDetails",new {id = item.GeneratedUrl})" class="secondary-table-button table-edit-btn btn btn-xs">
                        <i class="fas fa-info"></i>
                    </a>

                </td>
            </tr>

        }
    </tbody>
</table>

@*<i class="fas fa-plus"></i>*@