@model DQueensFashion.Models.AddOutfitSampleViewModel
@{
    ViewBag.Title = "AddOutfitSamples";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}

<div class="text-danger">First image is the main image, total sum of images upload should not be more than 50MB</div>
<hr />

@using (Html.BeginForm("AddOutfitSamples", "Admin", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SampleName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SampleName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SampleName, "", new { @class = "text-danger" })
        </div>
        <div>
            <table id="images-table" class="table table-responsive">
                <tbody></tbody>
            </table>
            <button id="addNewImage" type="button">Add New Image</button>
            <br /><br />
        </div>

        <hr />
        <div class="form-group">
            <div>
                <input type="submit" value="SAVE SAMPLE" class="btn secondary-table-button" style="color:white" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    var hidden = '@Html.Hidden("Images.Index", "{id}")';
    var fileHtml = ' <input id="Images[{id}].File" name="Images[{id}].ImagePath" type="file" accept="image/x-png,image/gif,image/jpeg" required/>';

    $("#addNewImage").on("click", function () {

            var time = Date.now();

            var deleteHtml = "<button type='button' onclick='deleteImageRow(this)' style='color:red'>Delete</button>";

            $("#images-table").find("tbody")
             .append($("<tr> <td>" + hidden.replace("{id}", time) + deleteHtml + "</td>" +
                 "<td>" + "</td>" +
                 "<td>" + fileHtml.replace("{id}", time) +
                 "</td></tr>"));
    });


    function deleteImageRow(el) {
        if (confirm('Are you sure you want to remove this image?')) {
            $(el).closest("tr").remove();
        }
    }
</script>