@model DQueensFashion.Models.ProductViewModel
@using DQueensFashion.Utilities

@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}
<script src="~/Content/js/jquery.js"></script>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #df7204;
    }
</style>

    @using (Html.BeginForm("AddProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="pb-2">
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.OutfitCategory)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row mt-lg-4 mt-2">
                    <div class="col-md-6 mb-2">
                        <div class="card box-shadow">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-12" })
                                            <div class="col-12">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label  col-12" })
                                            <div class="col-12">
                                                <select class="form-control" name="@Html.NameFor(m=>m.CategoryId)">
                                                    @if (Model.OutfitCategory)
                                                    {
                                                        <option value="@AppConstant.OutfitsId">@AppConstant.OutfitsName</option>
                                                    }
                                                    else
                                                    {
                                                        foreach (var item in Model.Categories)
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    }
                                                </select>
                                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-12" })
                                    <div class="col-12">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 5 })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-12" })
                                        <div class="col-12">
                                            <select class="form-control js-example-tokenizer" multiple="multiple" name="Tags" style="border:1px solid #ced4da"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="card box-shadow">
                            <div class="card-body" style="padding-bottom:20px">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">

                                            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-12" })
                                            <div class="col-12">
                                                @if (Model.OutfitCategory)
                                                {
                                                    @Html.EditorFor(model => model.Quantity,
                                                   new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "ProductQty" } })
                                                }
                                                else
                                                {
                                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                                }
                                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-12" })
                                            <div class="col-12">
                                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @id = "product-price" } })
                                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-12" })
                                            <div class="col-12">
                                                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control", @id = "product-discount" } })
                                                @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            @Html.Label("Total", htmlAttributes: new { @class = "control-label col-12" })
                                            <div class="col-12">
                                                <input type="text" value="@Model.Price" disabled class="form-control" id="product-total-price" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DeliveryDaysDuration, htmlAttributes: new { @class = "control-label col-12" })
                                            <div class="col-12">
                                                @Html.EditorFor(model => model.DeliveryDaysDuration, new { htmlAttributes = new { @class = "form-control", @id = "product-price" } })
                                                @Html.ValidationMessageFor(model => model.DeliveryDaysDuration, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                @{
                    if (Model.OutfitCategory)
                    {
                        <div class="mb-2">
                            <div class="card box-shadow">
                                <div class="card-header">
                                    BODY SPECIFICATIONS
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="col-12">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.Shoulder)
                                                        @Html.LabelFor(m => m.Shoulder)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="col-12">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.ArmHole)
                                                        @Html.LabelFor(m => m.ArmHole)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="col-12">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.Bust)
                                                        @Html.LabelFor(m => m.Bust)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="col-12">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.Waist)
                                                        @Html.LabelFor(m => m.Waist)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="col-12">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.Hips)
                                                        @Html.LabelFor(m => m.Hips)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="col-12">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.Thigh)
                                                        @Html.LabelFor(m => m.Thigh)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="col-12">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.FullBodyLength)
                                                        @Html.LabelFor(m => m.FullBodyLength)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="col-12">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.KneeGarmentLength)
                                                        @Html.LabelFor(m => m.KneeGarmentLength)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="col-12">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.TopLength)
                                                        @Html.LabelFor(m => m.TopLength)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="col-12">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.TrousersLength)
                                                        @Html.LabelFor(m => m.TrousersLength)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="col-12">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.RoundAnkle)
                                                        @Html.LabelFor(m => m.RoundAnkle)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="col-12">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.NipNip)
                                                        @Html.LabelFor(m => m.NipNip)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="col-12">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.SleeveLength)
                                                        @Html.LabelFor(m => m.SleeveLength)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="mb-2">
                            <div class="card box-shadow">
                                <div class="card-header">
                                    VARIATIONS
                                </div>
                                <div class="card-body">
                                    <div class="col-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.QuantityVariation, htmlAttributes: new { @class = "control-label col-12" })
                                            <div class="col-12">
                                                @Html.EnumDropDownListFor(model => model.QuantityVariation, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.QuantityVariation, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="form-group mb-0">
                    <button type="submit" class="btn primary-table-button">
                        <i class="fas fa-plus"></i>
                        Add new product
                    </button>
                </div>
            </div>
        </div>
    }



<script src="~/Content/js/content-file-input.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        bsCustomFileInput.init();
    });


    var productPrice = document.getElementById("product-price");
    var productDiscount = document.getElementById("product-discount");


    $(".js-example-tokenizer").select2({
        tags: true,
        tokenSeparators: [',', ' '],
        selectOnClose: true,
    });

    function GetProductTotalPrice() {
        SetProductTotalPrice(productPrice.value, productDiscount.value);
    }

    $('#product-price').bind('input', function () {
        GetProductTotalPrice();
    });

     $('#product-discount').bind('input', function () {
        GetProductTotalPrice();
    });
  
</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
