@model DQueensFashion.Models.AdminViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}

<div class="card mt-lg-3">
    <div class="card-header admin-dashboard-acct-overview">
        ACCOUNT OVERVIEW
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="account-card-header">
                    CATEGORIES
                </div>
                <div class="account-card-body">
                    <div class="admin-dashboard-total">
                       Total: @Model.NumberOfCategories
                    </div>
                    <div>
                        <a href="@Url.Action("Categories")" class="action-link">VIEW CATEGORIES</a>

                    </div>
                </div>

            </div>
            <div class="col-md-6 mb-3"">
                <div class="account-card-header">
                    PRODUCTS
                </div>
                <div class="account-card-body">
                    <div class="admin-dashboard-total">
                        Total: @Model.NumberOfProducts
                    </div>
                    <div>
                        <a href="@Url.Action("Products")" class="action-link">VIEW PRODUCTS</a>
                    </div>
                </div>

            </div>
            <div class="col-md-6 mb-3"">
                <div class="account-card-header">
                    ORDERS
                </div>
                <div class="account-card-body">
                    <div class="admin-dashboard-total">
                        Total: @Model.NumberOfOrders
                    </div>
                    <div>
                        <a href="@Url.Action("Orders")" class="action-link">VIEW ORDERS</a>
                    </div>
                </div>

            </div>
            <div class="col-md-6 mb-3"">
                <div class="account-card-header">
                    CUSTOMERS
                </div>
                <div class="account-card-body">
                    <div class="admin-dashboard-total">
                        Total: @Model.NumberOfCustomers
                    </div>
                    <div>
                        <a href="@Url.Action("Customers")" class="action-link">VIEW CUSTOMERS</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
