
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}

<h2>Admin Dashboard</h2>

<p>
    @Html.ActionLink("View orders", "orders")
</p>
<p>@Html.ActionLink("view processing orders", "ProcessingOrders")</p>

<p>@Html.ActionLink("view delivered orders","DeliveredOrders")</p>

<p>@Html.ActionLink("view returned orders","viewreturnedorders")</p>

<p>@Html.ActionLink("view deleted orders","viewdeletedorders")</p>

<p>@Html.ActionLink("view completed orders","viewcompletedorders")</p>