@model DQueensFashion.Models.AdminViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}


<div class="card">
    <div class="card-header" style="font-size:20px;font-weight:400">
        ACCOUNT OVERVIEW
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="account-card-header" style="font-size:18px;font-weight:300">
                    CATEGORIES
                </div>
                <div class="account-card-body">
                    <div style="color:#75757A;margin-bottom:20px">
                       Total: @Model.NumberOfCategories
                    </div>
                    <div>
                        <a href="@Url.Action("Categories")" class="action-link">VIEW CATEGORIES</a>

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="account-card-header" style="font-size:18px;font-weight:300">
                    PRODUCTS
                </div>
                <div class="account-card-body">
                    <div style="color:#75757A;margin-bottom:20px">
                        Total: @Model.NumberOfProducts
                    </div>
                    <div>
                        <a href="@Url.Action("Products")" class="action-link">VIEW PRODUCTS</a>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="account-card-header" style="font-size:18px;font-weight:300">
                    ORDERS
                </div>
                <div class="account-card-body">
                    <div style="color:#75757A;margin-bottom:20px">
                        Total: @Model.NumberOfOrders
                    </div>
                    <div>
                        <a href="@Url.Action("Orders")" class="action-link">VIEW ORDERS</a>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="account-card-header" style="font-size:18px;font-weight:300">
                    CUSTOMERS
                </div>
                <div class="account-card-body">

                    <div style="color:#75757A;margin-bottom:20px">
                        Total: @Model.NumberOfCustomers
                    </div>
                    <div>
                        <a href="@Url.Action("Customers")" class="action-link">VIEW CUSTOMERS</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<style>
    .account-card-header {
        border: 1px solid #ededed;
        padding: 10px 20px;
        margin-top: 10px;
    }

    .account-card-body {
        border: 1px solid #ededed;
        padding: 20px
    }

    .action-link {
        font-weight: bold;
        color: #df7204;
        background-color: white;
        padding: 10px;
        transition: all ease 0.3s;
    }

        .action-link:hover {
            background-color: #ff8d19;
            color: white;
        }
</style>