@model DQueensFashion.Models.MessageViewModel

@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}


<div class="card mt-lg-4 mt-2 box-shadow">
    <div class="card-header">
        Message
    </div>
    <div class="card-body">
        <div>Fullname: @Model.Fullname</div>
        <div>Email: @Model.Email</div>
        <div>Phone: @Model.Phone</div>
        <div>Subject: @Model.Subject</div>
        <div>Date sent: @Model.DateCreated</div>
        <div class="mt-1">Message</div>
        <hr class="m-0" />
        <div style="text-justify:inter-word;text-align:justify">
            @Html.Raw(Model.MessageSummary.Replace(Environment.NewLine, "<br/>"))
        </div>
    </div>
</div>

