@model DQueensFashion.Models.ViewOrderViewModel
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}

<div>
    ORDER ID: @Model.OrderId
</div>
<div>
    <div>TOTAL QUANTITY: @Model.TotalQuantity</div>
    <div> DATE: @Model.DateCreatedString</div>
    <div>TOTAL AMOUNT: $@Model.TotalAmount</div>
    <div>CUSTOMER: @Model.CustomerName</div>
</div>

<div>
    Items in your order
</div>
<hr />
<div>
    @foreach (var lineItem in Model.LineItems)
    {
        <div class="row m-3">
            <span>
                <img src="@Url.Content(lineItem.ProductImage)" style="height:100px;width:100px" class="d-block" />
            </span>
            <div class="ml-3">
                <div>
                    @lineItem.ProductName
                </div>
                <div>
                    @lineItem.Quantity
                </div>
                <div>
                    @lineItem.UnitPrice
                </div>
                <div>
                    @lineItem.TotalAmount
                </div>
                <div>@lineItem.Description</div>
            </div>
        </div>

        <hr />

    }
</div>