@model DQueensFashion.Models.ProductDetailsViewModel
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: orange;
    }

    .orButton {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
    }

        .orButton span {
            background: #F4F6F6;
            padding: 0 10px;
        }

    .product-details {
        margin: 0px;
    }

    .carousel-item {
        height: 350px;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #212529;
    }

    .carousel-indicators {
        bottom: -50px;
    }


    .product-details-title {
        white-space: normal;
        font-weight: 700;
        font-size: 30px;
        color: #29303b;
        margin-bottom: 0px;
    }

    .product-details-detail {
        white-space: normal;
        font-size: 15px;
        margin: 0;
        padding: 3px;
    }

        .product-details-detail > span {
            white-space: normal;
            font-size: 15px;
            font-weight: 700;
        }


    .product-details-initial-price {
        font-size: 20px;
        line-height: 15px;
        color: #29303b;
        text-decoration: line-through;
        padding: 3px;
    }

    .product-details-price {
        font-size: 30px;
        font-weight: 700;
        padding: 3px;
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6">

            <div id="productCarousel" class="carousel slide mb-3" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
                    @{
                        int productCount = 1;
                        foreach (var productImage in Model.Product.OtherImagePaths)
                        {
                            <li data-target="#productCarousel" data-slide-to="@productCount"></li>
                            productCount++;
                        }
                    }

                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class=" " style="width:100%;height:500px" src="@Url.Content(Model.Product.MainImage)" alt="First slide">
                    </div>
                    @{
                        foreach (var productImage in Model.Product.OtherImagePaths)
                        {
                            <div class="carousel-item">
                                <img class="" style="width:100%;height:500px" src="@Url.Content(productImage)" alt="Second slide">
                            </div>
                        }
                    }

                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <div class="product-details-title">@Model.Product.Name</div>
                </div>
            </div>
            <hr class="m-0" />
            <div class="row">
                <div class="col-12">
                    <div class="product-details-detail"><span>CATEGORY:</span> @Model.Product.Category</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product-details-detail"><span>PRODUCT AVAILABILITY:</span>@Model.Product.Quantity</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="product-details-initial-price">$@Model.Product.Price</span>
                    <span class="product-details-price">$@Model.Product.Price</span>

                </div>
            </div>
            <div class="row" style="padding:3px">
                @Html.Partial("~/views/Product/_averageRating.cshtml", Model.Product.Rating)
            </div>
            <div>
                @Html.ActionLink("Edit product details", "EditProduct", new { id = Model.Product.Id })
            </div>
            <div>
                @Html.ActionLink("View Products", "Products")
            </div>
        </div>

    </div>

    <div id="review-scroll-to"></div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="section_header" style="margin-bottom:1px">
                <div class="section_header_text">
                    <h5 style="margin-top: 15px;">DESCRIPTION</h5>
                </div>
            </div>
            <div style="text-justify:inter-word;text-align:justify">
                @Html.Raw(Model.Product.Description.Replace(Environment.NewLine, "<br/>"))
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-12">
            <div class="section_header" style="margin-bottom:1px">
                <div class="section_header_text">
                    <h5 style="margin-top: 15px;display:inline">REVIEWS (@Model.Product.Rating.TotalReviewCount)</h5>
                </div>
                <span>
                    <select class="form-control-sm" id="sort-review" onchange="SortReview(@Model.Product.Id)">
                        <option value="0">Sort by</option>
                        <option value="1">Most recent</option>
                        <option value="2">Least recent</option>
                        <option value="3">Highest rating</option>
                        <option value="4">Lowest recent</option>
                        <option value="5">Most Helpful</option>
                    </select>
                </span>
            </div>
            @Html.Partial("~/Views/Product/_productReview.cshtml", Model.Product.Reviews)
        </div>
    </div>

</div>

<script>
    
    var _sortReview = document.getElementById("sort-review");

        
    function ReviewPagination(productId, pageNumber) {

        $.ajax({
            url: '/product/ReviewPagination',
            dataType: "html",
            data: { productId: productId, pageNumber: pageNumber, sortId: _sortReview.value },
            success: function (result) {
                $("#reviewList").html(result);
                document.getElementById("review-scroll-to").scrollIntoView();
            },
            error: function (xhr, status, error) {
                alertify.error("Error");
            }
        });
    }

    function SortReview(productId) {
        if (_sortReview.value > 0) {
            $.ajax({
                url: '/product/SortReview',
                dataType: "html",
                data: { productId: productId, sortId: _sortReview.value },
                success: function (result) {
                    $("#reviewList").html(result);
                },
                error: function (xhr, status, error) {
                    alertify.error("Error");
                }
            });
        }


    }

</script>