@model IEnumerable<DQueensFashion.Models.ViewProductsViewModel>

@{
    ViewBag.Title = "ViewProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Id = p.Id,
    Name = p.Name,
    Quantity = p.Quantity.ToString(),
    Price = p.Price.ToString(),
    Category = p.Category.Name,
    Image1 = p.ImagePath1,
    DateCreated = p.DateCreated,
    DateCreatedString = p.DateCreated.ToString("dd-MMM-yyyy : hh-mm-ss"),*@
<h2>ViewProducts</h2>

<p>
    @Html.ActionLink("add product", "addproduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreatedString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image1)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreatedString)
            </td>
            @{
                if (!string.IsNullOrEmpty(item.Image1))
                {
                    <td>
                        <img src="@Url.Content(item.Image1)" style="height:50px;width:100px;" />
                    </td>
                }
                else
                {
                    <td></td>
                }
            }

            <td>
                @Html.ActionLink("Edit", "EditProduct", new { id = item.Id }) |
                @Html.ActionLink("Details", "ProductDetails", new { id = item.Id })
            </td>
        </tr>
    }

</table>
