@model IEnumerable<DQueensFashion.Models.ViewOrderViewModel>

@{
    ViewBag.Title = "ViewOrders";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}


<!--update order status modal-->
<div class="modal fade" id="updateOrder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Update Order Status</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="updateOrderBody">


            </div>


        </div>

    </div>

</div>

<h2>View Orders</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LineItems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreatedString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    foreach (var lineItem in item.LineItems)
                    {
                        <p>@lineItem.Product ( @lineItem.Quantity ) </p>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreatedString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                <button class="btn btn-primary" onclick="UpdateStatus(@item.OrderId)">Update status</button>
            </td>
        </tr>
    }

</table>


<script>
    function UpdateStatus(orderId) {
        var url = "/Admin/UpdateOrderStatus/" + orderId;

        $("#updateOrderBody").load(url, function () {
            $("#updateOrder").modal("show");

        })
    }

</script>