@model DQueensFashion.Models.ViewOrderViewModel
@{
    ViewBag.Title = "Order Details";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}
<div class="card box-shadow">
    <div class="card-body">
        <div class="orderdetails-card-header">
            ORDER DETAILS
        </div>
        <div class="orderdetails-card-body">
            <div class="mb-3">
                <div class="orderdetails-customer-info">QUANTITY : @Model.TotalQuantity</div>
                <div class="orderdetails-customer-info"> DATE : @Model.DateCreatedString</div>
                <div class="orderdetails-customer-info">STATUS : @Model.OrderStatus</div>
                <div class="orderdetails-customer-info">SUBTOTAL : @Model.SubTotal</div>
                <div class="orderdetails-customer-info">SHIPPING : @Model.ShippingPrice</div>
                <div class="orderdetails-customer-main-info">TOTAL : $@Model.TotalAmount</div>
            </div>
            <hr />
            <div class="orderdetails-items-in-order">
                ITEMS IN ORDER
                <hr class="m-1" />
            </div>

            @foreach (var item in Model.LineItems)
            {
                <div class="row">
                    <div class="col-3 col-md-2">
                        <img src="@Url.Content(item.ProductImage)" class="orderdetails-product-image" alt="@item.ProductName image houseofdqueens" />
                    </div>
                    <div class="col-9 col-md-10">
                        @item.ProductName
                        <div class="orderdetails-unitprice">$@item.UnitPrice * @item.Quantity</div>
                        <span class="orderdetails-totalamouont">$@item.TotalAmount</span>
                        @if (item.CanReview)
                        {
                            <span class="float-right">
                                <a class="btn btn-sm primary-table-button customer-add-review-btn" href="@Url.Action("AddReview","Customer",new { id=item.LineItemId})">ADD REVIEW</a>
                            </span>
                        }
                    </div>
                </div>

                <hr class="m-1" />
            }


        </div>


    </div>
</div>
