@model DQueensFashion.Models.HomeIndexViewModel
@using DQueensFashion.Utilities

@{
    ViewBag.Title = "Home";
}

<div class="background">
    <!-- Mask & flexbox options-->
    <div class="d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 col-10 text-md-left mb-5 background-text">
                    <h1 class="h1-responsive mt-sm-5">
                        FASHION WITH STYLE
                    </h1>
                    <hr class="hr-light"/>
                    <h6 class="mb-4">
                        Shop for high quality products at wholesale price.
                    </h6>
                    <a class="btn home-shop-now" href="@Url.Action("Shop","Product")">Shop now</a>
                    <a class="btn home-background-learnmore" href="@Url.Action("Index","AboutUs")">About us</a>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>
<!-- CATEGORIES -->

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="section_header">
                <div class="section_header_text">
                    <h2>CATEGORIES</h2>
                </div>
                <div class="categories_tab">
                    <button class="navbar-toggler collapsed  position-relative" type="button" data-toggle="collapse" data-target="#categoriesMenuBar"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="blackline"></span>
                        <span class="blackline"></span>
                        <span class="blackline mb-0"></span>
                    </button>
                    <ul class="nav nav-tabs justify-content-center justify-content-md-end" id="categoriesMenuBar" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active tab-link" id="all-tab" data-toggle="tab" href="#all" role="tab"
                               aria-controls="arrival" aria-selected="true">ALL</a>
                        </li>
                        @{
                            foreach (var category in Model.Categories)
                            {
                                string categoryId = "category" + category.Id.ToString();
                                string categoryTab = category.Name + "_tab";
                                <li class="nav-item">
                                    <a class="nav-link tab-link" id="@categoryTab" data-toggle="tab" href="#@categoryId" role="tab"
                                       aria-controls="@category.Name" aria-selected="true">@category.Name</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="tab_slider">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="arrival-tab">

                    <div class="row">
                        @foreach (var product in Model.Products.Take(16))
                        {
                            <div class="col-lg-3 col-6">
                                @Html.Partial("~/Views/Product/_productCard.cshtml", product)
                            </div>
                        }
                    </div>
                    <button class="btn primary-table-button" onclick="ShopByCategory(0)">View more</button>
                </div>
                @{
                    foreach (var category in Model.CategorizedProducts)
                    {
                        string categoryId = "category" + category.CategoryId.ToString();
                        string categoryTab = category.CategoryName + "_tab";

                        <div class="tab-pane fade" id="@categoryId" role="tabpanel" aria-labelledby="@categoryTab">
                            <div class="row">
                                @foreach (var product in category.Products)
                                {
                                    <div class="col-lg-3 col-6">
                                        @Html.Partial("~/Views/Product/_productCard.cshtml", product)
                                    </div>
                                }

                            </div>
                            <button class="btn primary-table-button" onclick="ShopByCategory(@category.CategoryId)">View more</button>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>

<div class="container home-outfit-container">
    <div class="row">
        @if (!string.IsNullOrEmpty(Model.OutfitMainImagePath))
        {
            <div class="col-md-6">
                <img data-src="@Url.Content(Model.OutfitMainImagePath)" class="home-outfit-img lazy" alt="outfit_image_ houseofdqueens" />
            </div>
        }

        <div class="col-md-6 mt-1">
            <h2 class="home-outfit-header">
                OUTFITS
            </h2>
            <div class="home-outfit-bodytext about-us-text">
                All our outfits are made to order(bespoke) because we understand that there are different needs to our customers and we are ready to satisfy you based on your needs.
                <br />
                Getting an outfit from us is without hassle. Kindly contact us here. We will attend to you personally.
                <br />
                You can pick a style from our catalog or send in a style/outfit. All our outfit are ready to be shipped out within 7-14 days.
                <br />
                Kindly note that all the outfits on our website are samples and can not be sold out you can only pick the styles.
                <br />
                When you contact us, we will ask about your size and body shape.  We are swift at answering you so kindly send in any requests or questions.
                <br />
                Thank you.
            </div>
            <div>
                <a href="@Url.Action("Index","Outfits")" class="btn mt-1 primary-table-button">View samples</a>

                <a href="@Url.Action("Shop","Product")" class="btn mt-1 secondary-table-button">Shop</a>
            </div>
        </div>
    </div>
</div>

<div class="container pb-3">
    <div class="row">
        <div class="col-12">
            <div class="section_header mb-1">
                <div class="section_header_text">
                    <h2 class="home-bestdeals-header">BEST DEALS</h2>
                </div>
            </div>
            <div class="row mt-3">
                @{
                    foreach (var product in Model.BestDealsProducts)
                    {
                        <div class="col-lg-3 col-6">
                            @Html.Partial("~/Views/Product/_productCard.cshtml", product)
                        </div>
                    }
                }
            </div>
            <button class="btn primary-table-button" onclick="ShopByBestDeals()">View more</button>
        </div>
    </div>
</div>



<div class="container mt-5 pb-3">
    <div class="row">
        <div class="col-12">
            <div class="section_header mb-1">
                <div class="section_header_text">
                    <h2  class="home-bestselling-header">BEST SELLING</h2>
                </div>
            </div>
            <div class="row mt-3">
                @{
                    foreach (var product in Model.BestSellingProducts)
                    {
                        <div class="col-lg-3 col-6">
                            @Html.Partial("~/Views/Product/_productCard.cshtml", product)
                        </div>
                    }
                }
            </div>
            <button class="btn primary-table-button" onclick="ShopByBestSelling()">View more</button>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="section_header mb-1">
        <div class="section_header_text">
            <h2 class="home-bestselling-header">ABOUT US</h2>
        </div>
    </div>
    <div class="home-about-us-bodytext mb-3 mt-3">
        <div class="row mt-2">
            <div class="col-md-2 mx-auto about-us-img-div">
                <img src="~/Content/Images/bukola-profile.jpg" class="mx-auto"/>
            </div>
            <div class="col-md-10 about-us-text">
                Hi, my name is Bukola. I am the owner of houseofdqueens; an african fashion industry that offers quality and exclusive african print fabrics, we also have collections of african inspired fashion accessories and african made clothing(ready to wear and custom made)
                <br />
                Houseofdqueens is designed to bring out the african beauty in you. Our fabrics can be used for different kinds of outfit and sewing DIY.
                <br />
                As an african lady,  I love sewing and crafting especially with african print fabrics and i will love to share with you one of the most outstanding aspects of my african culture.
                <br />
                I hope that you will love my hand made clothing, fabrics and accessories as much as I do.
                <br />
                Thank you for visiting houseofdqueens.
                <br />
                You are indeed a queen so own it.
                <br />
                Our <a href="@Url.Action("Index","Outfits")">outfits</a> are made to order. You will have to <a href="@Url.Action("Index","ContactUs")">contact us</a> personally to serve you best in this aspect.
                <br />
                <a class="btn primary-table-button mt-2" href="@Url.Action("Index","Outfits")">View samples</a>
                <a class="btn secondary-custom-button mt-2" href="@Url.Action("Index","ContactUs")">Contact us</a>
            </div>
        </div>
        
    </div>
</div>
