@model DQueensFashion.Models.HomeIndexViewModel
@using DQueensFashion.Utilities

@{
    ViewBag.Title = "Home";
}

<div class="background">
    <!-- Mask & flexbox options-->
    <div class="d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 col-10 text-md-left mb-5 background-text">
                    <h1 class="h1-responsive mt-sm-5">
                        FASHION WITH STYLE
                    </h1>
                    <hr class="hr-light"/>
                    <h6 class="mb-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem
                        repellendus quasi fuga nesciunt dolorum nulla magnam veniam
                        sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
                        iste.
                    </h6>
                    <a class="btn home-shop-now" href="@Url.Action("Shop","Product")">Shop now</a>
                    <a class="btn home-background-learnmore" href="@Url.Action("Index","AboutUs")">About us</a>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>
<!-- CATEGORIES -->

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="section_header">
                <div class="section_header_text">
                    <h2>CATEGORIES</h2>
                </div>
                <div class="categories_tab">
                    <button class="navbar-toggler collapsed  position-relative" type="button" data-toggle="collapse" data-target="#categoriesMenuBar"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="blackline"></span>
                        <span class="blackline"></span>
                        <span class="blackline mb-0"></span>
                    </button>
                    <ul class="nav nav-tabs justify-content-center justify-content-md-end" id="categoriesMenuBar" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active tab-link" id="all-tab" data-toggle="tab" href="#all" role="tab"
                               aria-controls="arrival" aria-selected="true">ALL</a>
                        </li>
                        @{
                            foreach (var category in Model.Categories)
                            {
                                string categoryId = "category" + category.Id.ToString();
                                string categoryTab = category.Name + "_tab";
                                <li class="nav-item">
                                    <a class="nav-link tab-link" id="@categoryTab" data-toggle="tab" href="#@categoryId" role="tab"
                                       aria-controls="@category.Name" aria-selected="true">@category.Name</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="tab_slider">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="arrival-tab">

                    <div class="row">
                        @foreach (var product in Model.Products.Take(16))
                        {
                            <div class="col-lg-3 col-6">
                                @Html.Partial("~/Views/Product/_productCard.cshtml", product)
                            </div>
                        }
                    </div>
                    <button class="btn primary-table-button" onclick="ShopByCategory(0)">View more</button>
                </div>
                @{
                    foreach (var category in Model.CategorizedProducts)
                    {
                        string categoryId = "category" + category.CategoryId.ToString();
                        string categoryTab = category.CategoryName + "_tab";

                        <div class="tab-pane fade" id="@categoryId" role="tabpanel" aria-labelledby="@categoryTab">
                            <div class="row">
                                @foreach (var product in category.Products)
                                {
                                    <div class="col-lg-3 col-6">
                                        @Html.Partial("~/Views/Product/_productCard.cshtml", product)
                                    </div>
                                }

                            </div>
                            <button class="btn primary-table-button" onclick="ShopByCategory(@category.CategoryId)">View more</button>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>

<div class="container home-outfit-container">
    <div class="row">
        <div class="col-md-6 d-none d-md-block">
            <img data-src="https://cdn.pixabay.com/photo/2016/11/14/04/57/young-1822656__340.jpg" class="home-outfit-img lazy" alt="outfit_image_ houseofdqueens"/>
        </div>
        <div class="col-md-6 mt-4">
            <h2 class="home-outfit-header">
                OUTFITS
            </h2>
            <div class="home-outfit-bodytext">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div>
                <a href="@Url.Action("Index","AboutUs")" class="btn mt-1 primary-table-button">Learn more</a>
                <br />
                @*outfitshop*@
                <a href="@Url.Action("Shop","Product",new {categoryId=1})" class="btn mt-1 secondary-table-button">Shop</a>
            </div>
        </div>
    </div>
</div>

<div class="container pb-3">
    <div class="row">
        <div class="col-12">
            <div class="section_header mb-1">
                <div class="section_header_text">
                    <h2 class="home-bestdeals-header">BEST DEALS</h2>
                </div>
            </div>
            <div class="row mt-3">
                @{
                    foreach (var product in Model.BestDealsProducts)
                    {
                        <div class="col-lg-3 col-6">
                            @Html.Partial("~/Views/Product/_productCard.cshtml", product)
                        </div>
                    }
                }
            </div>
            <button class="btn primary-table-button" onclick="ShopByBestDeals()">View more</button>
        </div>
    </div>
</div>



<div class="container mt-5 pb-3">
    <div class="row">
        <div class="col-12">
            <div class="section_header mb-1">
                <div class="section_header_text">
                    <h2  class="home-bestselling-header">BEST SELLING</h2>
                </div>
            </div>
            <div class="row mt-3">
                @{
                    foreach (var product in Model.BestSellingProducts)
                    {
                        <div class="col-lg-3 col-6">
                            @Html.Partial("~/Views/Product/_productCard.cshtml", product)
                        </div>
                    }
                }
            </div>
            <button class="btn primary-table-button" onclick="ShopByBestSelling()">View more</button>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="section_header mb-1">
        <div class="section_header_text">
            <h2 class="home-bestselling-header">ABOUT US</h2>
        </div>
    </div>
    <div class="home-about-us-bodytext mb-3 mt-3">
        <div class="row mt-2">
            <div class="col-md-2 mx-auto about-us-img-div">
                <img src="~/Content/Images/bukola-profile.jpg" class="mx-auto"/>
            </div>
            <div class="col-md-10 about-us-text">
                Hi, my name is Bukola. I am the owner of houseofdqueens; an african fashion industry that offers quality and exclusive african print fabrics, we also have collections of african inspired fashion accessories and african made clothing(ready to wear and custom made)
                <br />
                Houseofdqueens is designed to bring out the african beauty in you. Our fabrics can be used for different kinds of outfit and sewing DIY.
                <br />
                As an african lady,  I love sewing and crafting especially with african print fabrics and i will love to share with you one of the most outstanding aspects of my african culture.
                <br />
                I hope that you will love my hand made clothing, fabrics and accessories as much as I do.
                <br />
                thank you for visiting houseofdqueens.
                <br />
                You are indeed a queen so own it.
                <br />
                our outfits are made to order. you will have to contact us personally to serve you best in this aspect.

                <button class="btn primary-table-button mt-2">View samples</button>
                @*<a class="btn primary-custom-button" href="@Url.Action("Index","AboutUs")">Learn more</a>*@
            </div>
        </div>
        
    </div>
</div>
