@model DQueensFashion.Models.HomeIndexViewModel
@using DQueensFashion.Models

@{
    ViewBag.Title = "Home Page";
}

<div class="background">
    <!-- Mask & flexbox options-->
    <div class="d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 col-10 text-md-left mb-5 background-text">
                    <h1 class="h1-responsive mt-sm-5" style="color: #E97128;">
                        FASHION WITH STYLE
                    </h1>
                    <hr class="hr-light" style="background-color: #E97128;" />
                    <h6 class="mb-4" style="color: white;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem
                        repellendus quasi fuga nesciunt dolorum nulla magnam veniam
                        sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
                        iste.
                    </h6>
                    <a class="btn btn-white" style="margin-top: 5px;">Shop now</a>
                    <a class="btn btn-outline-white" style="margin-top: 5px;">Learn more</a>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>

<!-- CATEGORIES -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section_header">
                <div class="section_header_text">
                    <h2 style="margin-top: 15px;">CATEGORIES</h2>
                </div>
                <div class="categories_tab">
                    <button class="navbar-toggler collapsed  position-relative" type="button" data-toggle="collapse" data-target="#categoriesMenuBar"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="blackline"></span>
                        <span class="blackline"></span>
                        <span class="blackline" style="margin-bottom: 0;"></span>
                    </button>
                    <ul class="nav nav-tabs justify-content-center justify-content-md-end" id="categoriesMenuBar" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active tab-link" id="all-tab" data-toggle="tab" href="#all" role="tab"
                               aria-controls="arrival" aria-selected="true">ALL</a>
                        </li>
                        @{
                            foreach (var category in Model.Categories)
                            {
                                string categoryId = "category" + category.Id.ToString();
                                string categoryTab = category.Name + "_tab";
                                <li class="nav-item">
                                    <a class="nav-link tab-link" id="@categoryTab" data-toggle="tab" href="#@categoryId" role="tab"
                                       aria-controls="@category.Name" aria-selected="true">@category.Name</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="tab_slider">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="arrival-tab">

                    <div class="row">
                        @foreach (var product in Model.Products.Take(8))
                        {

                            <div class="col-lg-3 col-12">

                                <div class="product-box">
                                    <div onclick="NavigateToProductDetails(@product.Id)" style="cursor:pointer">
                                        <div class="product-time-label">New</div>
                                        <div class="product-discount-label">10%</div>
                                        <div class="img-box">
                                            <img src="@Url.Content(product.MainImage)">
                                        </div>
                                    </div>
                                    <div class="product-details">
                                        <div onclick="NavigateToProductDetails(@product.Id)" style="cursor:pointer">
                                            <div class="product-title">@product.Name</div>
                                            <div class="product-category">@product.Category</div>
                                            <span class="product-initial-price">$@product.Price</span>
                                            <span class="product-price">$@product.Price</span>
                                        </div>
                                        <div class="">
                                            @Html.Partial("~/views/Product/_averageRating.cshtml", product.Rating)
                                            <span class="float-right mb-1">
                                                <img src="~/Content/Images/eye.svg" style="margin-right: 10px; cursor:pointer" onclick="productQuickView(@product.Id)">
                                                <img src="~/Content/Images/heart.svg" style=" cursor:pointer" onclick="AddToWishList(@product.Id)">
                                            </span>
                                        </div>

                                        <div class="cart" onclick="AddToCart(@product.Id)">
                                            <div href="#">Add to cart</div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        }
                    </div>
                    <button class="btn" style="color: white;background-color:#212529;" onclick="ShopByCategory(0)">View more</button>
                </div>
                @{
                    foreach (var category in Model.Categories)
                    {
                        string categoryId = "category" + category.Id.ToString();
                        string categoryTab = category.Name + "_tab";
                        int productCount = 1;
                        <div class="tab-pane fade" id="@categoryId" role="tabpanel" aria-labelledby="@categoryTab">
                            <div class="row">
                                @foreach (var product in Model.Products)
                                {
                                    if (product.CategoryId == category.Id && productCount<9)
                                    {
                                        <div class="col-lg-3 col-12">

                                            <div class="product-box">
                                                <div onclick="NavigateToProductDetails(@product.Id)" style="cursor:pointer">
                                                    <div class="product-time-label">New</div>
                                                    <div class="product-discount-label">10%</div>
                                                    <div class="img-box">
                                                        <img src="@Url.Content(product.MainImage)">
                                                    </div>
                                                </div>
                                                <div class="product-details">
                                                    <div onclick="NavigateToProductDetails(@product.Id)" style="cursor:pointer">
                                                        <div class="product-title">@product.Name</div>
                                                        <div class="product-category">@product.Category</div>
                                                        <span class="product-initial-price">$@product.Price</span>
                                                        <span class="product-price">$@product.Price</span>
                                                    </div>
                                                    <div class="star-rating">
                                                        <i class="fas fa-star" id="star1" onclick="add(this,1)"></i>
                                                        <i class="fas fa-star" id="star2" onclick="add(this,2)"></i>
                                                        <i class="fas fa-star" id="star3" onclick="add(this,3)"></i>
                                                        <i class="far fa-star" id="star4" onclick="add(this,4)"></i>
                                                        <i class="far fa-star" id="star5" onclick="add(this,5)"></i>
                                                        (32)
                                                        <span class="float-right mb-1">
                                                            <img src="~/Content/Images/eye.svg" style="margin-right: 10px; cursor:pointer" onclick="productQuickView(@product.Id)">
                                                            <img src="~/Content/Images/heart.svg" style=" cursor:pointer" onclick="AddToWishList(@product.Id)">
                                                        </span>
                                                    </div>

                                                    <div class="cart" onclick="AddToCart(@product.Id)">
                                                        <div href="#">Add to cart</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        productCount++;


                                    }
                                }

                            </div>
                            <button class="btn" style="color: white;background-color:#212529;" onclick="ShopByCategory(@category.Id)">View more</button>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="col-12">
        <h6>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


            Where does it come from?
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        </h6>
    </div>
</div>


<style>



    /* -------------------------------------------------
      min-width: 992px
    ---------------------------------------------------*/
    @@media only screen and (min-width: 992px) {
        .navbar-toggler {
            display: none;
        }
    }
    /* -------------------------------------------------
      max-width: 991px
    ---------------------------------------------------*/
    @@media only screen and (max-width: 991px) {


        #categoriesMenuBar {
            position: absolute;
            right: 0;
            top: 100%;
            z-index: 999;
            display: block;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            padding: 15px;
            opacity: 0;
            visibility: hidden;
            height: auto !important;
        }

            #categoriesMenuBar.show {
                opacity: 1;
                visibility: visible;
                margin-top: 0;
            }

            #categoriesMenuBar li a {
                text-align: left;
            }
    }
</style>

<script>
   
</script>
