@model DQueensFashion.Models.HomeIndexViewModel
@using DQueensFashion.Models

@{
    ViewBag.Title = "Home Page";
}

<div class="background">
    <!-- Mask & flexbox options-->
    <div class="d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 col-10 text-md-left mb-5 background-text">
                    <h1 class="h1-responsive mt-sm-5" style="color: #E97128;">
                        FASHION WITH STYLE
                    </h1>
                    <hr class="hr-light" style="background-color: #E97128;" />
                    <h6 class="mb-4" style="color: white;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem
                        repellendus quasi fuga nesciunt dolorum nulla magnam veniam
                        sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
                        iste.
                    </h6>
                    <a class="btn btn-white" style="margin-top: 5px;">Shop now</a>
                    <a class="btn btn-outline-white" style="margin-top: 5px;">Learn more</a>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>

<!-- CATEGORIES -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section_header">
                <div class="section_header_text">
                    <h2 style="margin-top: 15px;">CATEGORIES</h2>
                </div>
                <div class="categories_tab">
                    <button class="navbar-toggler collapsed  position-relative" type="button" data-toggle="collapse" data-target="#categoriesMenuBar"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="blackline"></span>
                        <span class="blackline"></span>
                        <span class="blackline" style="margin-bottom: 0;"></span>
                    </button>
                    <ul class="nav nav-tabs justify-content-center justify-content-md-end" id="categoriesMenuBar" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active tab-link" id="all-tab" data-toggle="tab" href="#all" role="tab"
                               aria-controls="arrival" aria-selected="true">ALL</a>
                        </li>
                        @{
                            foreach (var category in Model.Categories)
                            {
                                string categoryId = "category" + category.Id.ToString();
                                string categoryTab = category.Name + "_tab";
                                <li class="nav-item">
                                    <a class="nav-link tab-link" id="@categoryTab" data-toggle="tab" href="#@categoryId" role="tab"
                                       aria-controls="@category.Name" aria-selected="true">@category.Name</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="tab_slider">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="arrival-tab">

                    <div class="row">
                        @foreach (var product in Model.Products)
                        {
                           
                            <div class="col-lg-3 col-12">

                                <div class="product-box">
                                    <div onclick="NavigateToProductDetails(@product.Id)" style="cursor:pointer">
                                        <div class="product-time-label">New</div>
                                        <div class="product-discount-label">10%</div>
                                        <div class="img-box">
                                            <img src="@Url.Content(product.Image1)">
                                        </div>
                                    </div>
                                    <div class="product-details">
                                        <div  onclick="NavigateToProductDetails(@product.Id)" style="cursor:pointer">
                                            <div class="product-title">@product.Name</div>
                                            <div class="product-category">@product.Category</div>
                                            <span class="product-initial-price">$@product.Price</span>
                                            <span class="product-price">$@product.Price</span>
                                        </div>
                                        <div class="star-rating">
                                            <i class="fas fa-star" id="star1" onclick="add(this,1)"></i>
                                            <i class="fas fa-star" id="star2" onclick="add(this,2)"></i>
                                            <i class="fas fa-star" id="star3" onclick="add(this,3)"></i>
                                            <i class="far fa-star" id="star4" onclick="add(this,4)"></i>
                                            <i class="far fa-star" id="star5" onclick="add(this,5)"></i>
                                            (16)
                                            <span class="float-right mb-1">
                                                <img src="~/Content/Images/eye.svg" style="margin-right: 10px; cursor:pointer" onclick="productQuickView(@product.Id)">
                                                <img src="~/Content/Images/heart.svg" style=" cursor:pointer" onclick="AddToWishList(@product.Id)">
                                            </span>
                                        </div>
                                       
                                        <div class="cart" onclick="AddToCart(@product.Id)">
                                            <div href="#">Add to cart</div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        }
                    </div>
                    <div class="d-xs-block d-sm-block d-md-none d-lg-none d-xl-none">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-block" style="color: white;background-color:#212529;" onclick="ShopByCategory(0)">View more</button>
                            </div>
                            <div class="col-6"></div>
                        </div>

                    </div>
                    <div class="d-none d-md-block">
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-block" style="color: white;background-color:#212529;" onclick="ShopByCategory(0)">View more</button>
                            </div>
                            <div class="col-9"></div>
                        </div>
                    </div>
                </div>
                @{
                    foreach (var category in Model.Categories)
                    {
                        string categoryId = "category" + category.Id.ToString();
                        string categoryTab = category.Name + "_tab";
                        <div class="tab-pane fade" id="@categoryId" role="tabpanel" aria-labelledby="@categoryTab">
                            <div class="row">
                                @foreach (var product in Model.Products)
                                {
                                    if (product.CategoryId == category.Id)
                                    {
                                        <div class="col-lg-3 col-12">

                                            <div class="product-box">
                                                <div onclick="NavigateToProductDetails(@product.Id)" style="cursor:pointer">
                                                    <div class="product-time-label">New</div>
                                                    <div class="product-discount-label">10%</div>
                                                    <div class="img-box">
                                                        <img src="@Url.Content(product.Image1)">
                                                    </div>
                                                </div>
                                                <div class="product-details">
                                                    <div onclick="NavigateToProductDetails(@product.Id)" style="cursor:pointer">
                                                        <div class="product-title">@product.Name</div>
                                                        <div class="product-category">@product.Category</div>
                                                        <span class="product-initial-price">$@product.Price</span>
                                                        <span class="product-price">$@product.Price</span>
                                                    </div>
                                                    <div class="star-rating">
                                                        <i class="fas fa-star" id="star1" onclick="add(this,1)"></i>
                                                        <i class="fas fa-star" id="star2" onclick="add(this,2)"></i>
                                                        <i class="fas fa-star" id="star3" onclick="add(this,3)"></i>
                                                        <i class="far fa-star" id="star4" onclick="add(this,4)"></i>
                                                        <i class="far fa-star" id="star5" onclick="add(this,5)"></i>
                                                        (32)
                                                        <span class="float-right mb-1">
                                                            <img src="~/Content/Images/eye.svg" style="margin-right: 10px; cursor:pointer" onclick="productQuickView(@product.Id)">
                                                            <img src="~/Content/Images/heart.svg" style=" cursor:pointer" onclick="AddToWishList(@product.Id)">
                                                        </span>
                                                    </div>

                                                    <div class="cart" onclick="AddToCart(@product.Id)">
                                                        <div href="#">Add to cart</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>




                                    }
                                }

                            </div>
                            <div class="d-xs-block d-sm-block d-md-none d-lg-none d-xl-none">
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-block" style="color: white;background-color:#212529;" onclick="ShopByCategory(@category.Id)">View more</button>
                                    </div>
                                    <div class="col-6"></div>
                                </div>

                            </div>
                            <div class="d-none d-md-block">
                                <div class="row">
                                    <div class="col-3">
                                        <button class="btn btn-block" style="color: white;background-color:#212529;" onclick="ShopByCategory(@category.Id)">View more</button>
                                    </div>
                                    <div class="col-9"></div>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>


<!--modals-->
<!--quick view product-->
<div class="modal fade" id="productQuickView">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Product quick view</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="productQuickViewBody">


            </div>


        </div>

    </div>

</div>

<style>



    /* -------------------------------------------------
      min-width: 992px
    ---------------------------------------------------*/
    @@media only screen and (min-width: 992px) {
        .navbar-toggler {
            display: none;
        }
    }
    /* -------------------------------------------------
      max-width: 991px
    ---------------------------------------------------*/
    @@media only screen and (max-width: 991px) {


        #categoriesMenuBar {
            position: absolute;
            right: 0;
            top: 100%;
            z-index: 999;
            display: block;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            padding: 15px;
            opacity: 0;
            visibility: hidden;
            height: auto !important;
        }

            #categoriesMenuBar.show {
                opacity: 1;
                visibility: visible;
                margin-top: 0;
            }

            #categoriesMenuBar li a {
                text-align: left;
            }
    }
</style>

<script>
    function productQuickView(productId) {
        var url = "/Product/ProductQuickView/" + productId;

        $("#productQuickViewBody").load(url, function () {
            $("#productQuickView").modal("show");

        })
    }
</script>
