@model DQueensFashion.Models.HomeIndexViewModel
@using DQueensFashion.Utilities

@{
    ViewBag.Title = "Home";
}

<div class="background">
    <!-- Mask & flexbox options-->
    <div class="d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 col-10 text-md-left mb-5 background-text">
                    <h1 class="h1-responsive mt-sm-5">
                        FASHION WITH STYLE
                    </h1>
                    <hr class="hr-light"/>
                    <h6 class="mb-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem
                        repellendus quasi fuga nesciunt dolorum nulla magnam veniam
                        sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
                        iste.
                    </h6>
                    <a class="btn home-shop-now" href="@Url.Action("Index","Product")">Shop now</a>
                    <a class="btn home-background-learnmore" href="@Url.Action("About","Home")">About us</a>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>
<!-- CATEGORIES -->

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="section_header">
                <div class="section_header_text">
                    <h2>CATEGORIES</h2>
                </div>
                <div class="categories_tab">
                    <button class="navbar-toggler collapsed  position-relative" type="button" data-toggle="collapse" data-target="#categoriesMenuBar"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="blackline"></span>
                        <span class="blackline"></span>
                        <span class="blackline mb-0"></span>
                    </button>
                    <ul class="nav nav-tabs justify-content-center justify-content-md-end" id="categoriesMenuBar" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active tab-link" id="all-tab" data-toggle="tab" href="#all" role="tab"
                               aria-controls="arrival" aria-selected="true">ALL</a>
                        </li>
                        @{
                            foreach (var category in Model.Categories)
                            {
                                string categoryId = "category" + category.Id.ToString();
                                string categoryTab = category.Name + "_tab";
                                <li class="nav-item">
                                    <a class="nav-link tab-link" id="@categoryTab" data-toggle="tab" href="#@categoryId" role="tab"
                                       aria-controls="@category.Name" aria-selected="true">@category.Name</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="tab_slider">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="arrival-tab">

                    <div class="row">
                        @foreach (var product in Model.Products.Take(AppConstant.HomeIndexProductCount))
                        {
                            <div class="col-lg-3 col-6">
                                @Html.Partial("~/Views/Product/_productCard.cshtml", product)
                            </div>
                        }
                    </div>
                    <button class="btn secondary-button" onclick="ShopByCategory(0)">View more</button>
                </div>
                @{
                    foreach (var category in Model.Categories)
                    {
                        string categoryId = "category" + category.Id.ToString();
                        string categoryTab = category.Name + "_tab";
                        int productCount = 0;
                        <div class="tab-pane fade" id="@categoryId" role="tabpanel" aria-labelledby="@categoryTab">
                            <div class="row">
                                @foreach (var product in Model.Products)
                                {
                                    if (product.CategoryId == category.Id && productCount < AppConstant.HomeIndexProductCount)
                                    {
                                        <div class="col-lg-3 col-6">
                                            @Html.Partial("~/Views/Product/_productCard.cshtml", product)
                                        </div>

                                        productCount++;
                                    }
                                }

                            </div>
                            <button class="btn secondary-button" onclick="ShopByCategory(@category.Id)">View more</button>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>

<div class="container home-custommade-container">
    <div class="row">
        <div class="col-md-6 d-none d-md-block">
            <img src="https://cdn.pixabay.com/photo/2016/11/14/04/57/young-1822656__340.jpg" class="home-custommade-img"/>
        </div>
        <div class="col-md-6 mt-4">
            <h2 class="home-custommade-header">
                CUSTOM MADE
            </h2>
            <div class="home-custommade-bodytext">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div>
                <a href="@Url.Action("About")" class="btn mt-1 secondary-button">Learn more</a>
                <br />
                <a href="@Url.Action("Shop","Product",new {categoryId=AppConstant.CustomMadeCategoryId})" class="btn mt-1 primary-button">Shop</a>
            </div>
        </div>
    </div>
</div>

<div class="container home-readymade-container">
    <div class="row">
        <div class="col-md-6 mt-4">
            <h2 class="home-readymade-header">
                READY MADE
            </h2>
            <div class="home-readymade-bodytext">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div>
                <a href="@Url.Action("About")" class="btn mt-1 secondary-button">Learn more</a>
                <br />
                <a href="@Url.Action("Shop","Product",new {categoryId=AppConstant.CustomMadeCategoryId})" class="btn mt-1 primary-button">Shop</a>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-block">
            <img src="https://cdn.pixabay.com/photo/2015/03/26/09/52/dress-690496__340.jpg" class="home-readymade-img"/>
        </div>
    </div>
</div>


<div class="container pb-3">
    <div class="row">
        <div class="col-12">
            <div class="section_header mb-1">
                <div class="section_header_text">
                    <h2 class="home-bestdeals-header">BEST DEALS</h2>
                </div>
            </div>
            <div class="row mt-3">
                @{
                    foreach (var product in Model.BestDealsProducts)
                    {
                        <div class="col-lg-3 col-6">
                            @Html.Partial("~/Views/Product/_productCard.cshtml", product)
                        </div>
                    }
                }
            </div>
            <button class="btn secondary-button" onclick="ShopByBestDeals()">View more</button>
        </div>
    </div>
</div>



<div class="container mt-5 pb-3">
    <div class="row">
        <div class="col-12">
            <div class="section_header mb-1">
                <div class="section_header_text">
                    <h2  class="home-bestselling-header">BEST SELLING PRODUCTS</h2>
                </div>
            </div>
            <div class="row mt-3">
                @{
                    foreach (var product in Model.BestSellingProducts)
                    {
                        <div class="col-lg-3 col-6">
                            @Html.Partial("~/Views/Product/_productCard.cshtml", product)
                        </div>
                    }
                }
            </div>
            <button class="btn secondary-button" onclick="ShopByBestSelling()">View more</button>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="section_header mb-1">
        <div class="section_header_text">
            <h2 class="home-bestselling-header">ABOUT US</h2>
        </div>
    </div>
    <div class="home-about-us-bodytext mb-3">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
    </div>
    <a class="btn primary-custom-button" href="@Url.Action("About","Home")">Learn more</a>
</div>


<script>
    function ShopByBestSelling() {
    window.location.href = "/Product/Shop?sort=" + @AppConstant.BestSelling;
}

function ShopByBestDeals() {
    window.location.href = "/Product/Shop?sort=" + @AppConstant.BestDeals;
}
</script>