@using Microsoft.AspNet.Identity
@using DQueensFashion.Utilities


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HDQ</title>
    <link rel="icon" href="~/Content/Images/HdqLogo.png" type="image/icon type">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="~/Content/dashboard.css" rel="stylesheet" />
    <link href="~/Content/general.css" rel="stylesheet" />
    <link href="~/Content/dashboard-custom.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/js/jquery.js"></script>
</head>
<body>
    <div id="dashboard-sidenav" class="dashboard-sidenav">

        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
            data-accordion="false">
            <li class="nav-item">
                <a class="nav-link dashboard-side-navitem" asp-area="" href="@Url.Action("Index","Home")">
                    <img src="~/Content/Images/HdqLogo.png" class="mr-2" style="width:30px;height:30px" />
                    <p class="dashboard-sidenav-link">
                        HouseOfDQueens
                    </p>
                </a>

            </li>
            @if (Request.IsAuthenticated)
            {

                if (User.IsInRole(AppConstant.AdminRole))
                {
                    <li class="nav-item dashb-navbar-item">
                        <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("dashboard","Admin")">
                            <i class="fas fa-th"></i>
                            <p class="dashboard-sidenav-link">
                                Dashboard
                            </p>
                        </a>

                    </li>

                    <li class="nav-item dashb-navbar-item">
                        <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("categories","Admin")">
                            <i class="far fa-clipboard"></i>
                            <p class="dashboard-sidenav-link">
                                Categories
                            </p>
                        </a>

                    </li>

                    <li class="nav-item dashb-navbar-item">
                        <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("Products","Admin")">
                            <i class="fas fa-barcode"></i>
                            <p class="dashboard-sidenav-link">
                                Products
                            </p>
                        </a>

                    </li>

                    <li class="nav-item dashb-navbar-item">
                        <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("OutfitSamples","Admin")">
                            <i class="fas fa-tshirt"></i>
                            <p class="dashboard-sidenav-link">
                                Samples
                            </p>
                        </a>

                    </li>

                    <li class="nav-item dashb-navbar-item">
                        <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("Customers","Admin")">
                            <i class="far fa-user"></i>
                            <p class="dashboard-sidenav-link">
                                Customers
                            </p>
                        </a>

                    </li>

                    <li class="nav-item dashboard-dropdown">
                        <a href="#" class="nav-link  dashboard-side-navitem dashb-navbar-item">
                            <i class="fas fa-inbox"></i>
                            <span>Orders</span>
                            <i class="fas fa-angle-left right float-right mt-2"></i>
                        </a>
                        <div class="dashboard-dropdown-item">
                            <ul style="list-style:none">
                                <li class="nav-item dashb-navbar-item">
                                    <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("Orders","Admin")">
                                        <i class="far fa-calendar"></i>
                                        <p class="dashboard-sidenav-link">
                                            All orders
                                        </p>
                                    </a>

                                </li>

                                <li class="nav-item dashb-navbar-item">
                                    <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("ProcessingOrders","Admin")">
                                        <i class="far fa-calendar"></i>
                                        <p class="dashboard-sidenav-link">
                                            Processing
                                        </p>
                                    </a>

                                </li>

                                <li class="nav-item dashb-navbar-item">
                                    <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("InTransitOrders","Admin")">
                                        <i class="far fa-calendar"></i>
                                        <p class="dashboard-sidenav-link">
                                            In transit
                                        </p>
                                    </a>

                                </li>

                                <li class="nav-item dashb-navbar-item">
                                    <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("DeliveredOrders","Admin")">
                                        <i class="far fa-calendar"></i>
                                        <p class="dashboard-sidenav-link">
                                            Delivered
                                        </p>
                                    </a>

                                </li>
                                <li class="nav-item dashb-navbar-item">
                                    <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("ReturnedOrders","Admin")">
                                        <i class="far fa-calendar"></i>
                                        <p class="dashboard-sidenav-link">
                                            Returned
                                        </p>
                                    </a>

                                </li>
                                <li class="nav-item dashb-navbar-item">
                                    <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("CompletedOrders","Admin")">
                                        <i class="far fa-calendar"></i>
                                        <p class="dashboard-sidenav-link">
                                            Completed
                                        </p>
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item dashb-navbar-item">
                        <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("Messages","Admin")">
                            <i class="far fa-envelope"></i>
                            <p class="dashboard-sidenav-link">
                                Messages (@ViewBag.UnreadMessages)
                            </p>
                        </a>

                    </li>
                    <li class="nav-item dashb-navbar-item">
                        <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("Requests","Admin")">
                            <i class="far fa-comment-alt"></i>
                            <p class="dashboard-sidenav-link">
                                Requests (@ViewBag.RequestCount)
                            </p>
                        </a>

                    </li>
                    <li class="nav-item dashb-navbar-item">
                        <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("subscribedemails","Admin")">
                            <i class="fas fa-at"></i>
                            <p class="dashboard-sidenav-link">
                                Subscribed emails
                            </p>
                        </a>

                    </li>
                    <li class="nav-item dashb-navbar-item">
                        <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("generaldetails","Admin")">
                            <i class="far fa-copy"></i>
                            <p class="dashboard-sidenav-link">
                                General details
                            </p>
                        </a>

                    </li>

                    <li class="nav-item dashb-navbar-item">
                        <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("changepassword", "Admin")">
                            <i class="fas fa-key"></i>
                            <p class="dashboard-sidenav-link">
                                Change password
                            </p>
                        </a>

                    </li>
                    <li class="nav-item dashb-navbar-item">
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link navbar-link dashboard-side-navitem ">
                            <i class="fas fa-sign-out-alt"></i>
                            <p class="dashboard-sidenav-link">
                                Logout
                            </p>
                        </a>
                    </li>

                }
                else if (User.IsInRole(AppConstant.CustomerRole))
                {

                    <li class="nav-item dashb-navbar-item">
                        <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("account", "customer")">
                            <i class="far fa-user"></i>
                            <p class="dashboard-sidenav-link">
                                Account
                            </p>
                        </a>

                    </li>


                    <li class="nav-item dashb-navbar-item">
                        <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("orders", "customer")">
                            <i class="fas fa-inbox"></i>
                            <p class="dashboard-sidenav-link">
                                Orders
                            </p>
                        </a>

                    </li>

                    <li class="nav-item dashb-navbar-item">
                        <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("wishlist", "customer")">
                            <i class="far fa-heart"></i>
                            <p class="dashboard-sidenav-link">
                                Wishlist
                            </p>
                        </a>

                    </li>



                    <li class="nav-item dashb-navbar-item">
                        <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("pendingreviews", "customer")">
                            <i class="far fa-comment-alt"></i>
                            <p class="dashboard-sidenav-link">
                                Pending reviews (@ViewBag.PendingReviews)
                            </p>
                        </a>

                    </li>

                    <li class="nav-item dashb-navbar-item">
                        <a class="nav-link dashboard-side-navitem " asp-area="" href="@Url.Action("changepassword", "customer")">
                            <i class="fas fa-key"></i>
                            <p class="dashboard-sidenav-link">
                                Change password
                            </p>
                        </a>

                    </li>
                    <li class="nav-item dashb-navbar-item">
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link navbar-link dashboard-side-navitem ">
                            <i class="fas fa-sign-out-alt"></i>
                            <p class="dashboard-sidenav-link">
                                Logout
                            </p>
                        </a>
                    </li>
                }

            }
        </ul>



    </div>

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->

    <div id="main-content" style="background-color:white">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light box-shadow">

            <!-- Left navbar links -->
            <ul class="navbar-nav" style="margin-right:auto">
                <li class="nav-item navbar-toggle-link d-none d-md-block" onclick="toggleDashboardNav()">
                    <a class="nav-link" data-widget="pushmenu"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-md-block" style="padding-top: 0.5rem">
                    @User.Identity.Name
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link navbar-link" href="@Url.Action("Index","Home")">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-link" href="@Url.Action("Index","Cart")">
                        <img src="~/Content/Images/shopping-cart.jpg" />
                        @Html.Partial("~/Views/Cart/_navbarCartNumber.cshtml")
                    </a>
                </li>
            </ul>

            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <ul class="navbar-nav">
                    <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Logout">
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link navbar-link">
                            <img src="~/Content/Images/log-out.jpg" />
                        </a>
                    </li>
                    <li class="nav-item navbar-toggle-link d-sm-block d-md-none d-lg-none d-xl-none" onclick="toggleDashboardNav()">
                        <a class="nav-link" data-widget="pushmenu"><i class="fas fa-bars"></i></a>
                    </li>
                </ul>
            }

        </nav>
        <div class="main-content-wrapper">
            <div class="content-wrapper-body">
                @RenderBody()
                <div id="sidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div id="sidebarbody" style="padding:10px 20px;"></div>
                </div>

                <div id="snackbar-success"></div>
                <div id="snackbar-error"></div>
                <div id="snackbar-message"></div>
            </div>
            <!-- /.container-fluid -->
            <footer class="main-footer">
                <div class="container text-center">
                    &copy; @DateTime.Now.Year - HouseOfDQueens
                </div>
            </footer>

        </div>
        <!-- /.content -->
    </div>
</body>
</html>
    @Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<!-- REQUIRED SCRIPTS -->
<script src="~/Content/js/site.js"></script>
<script src="~/Content/js/dashboard.js"></script>

<style>
         .main-footer {
                background-color: white !important;
                border-top:1px solid #dedede;
                padding-top:10px;
            }

            .main-footer>div{
                color:black;
            }

            @@media screen and (max-width: 2000px) and (min-width: 520px) {
                .main-footer {
                    margin-left: 0rem !important;
                }
            }
</style>