@using DQueensFashion.Utilities

<div style="background-color:#df7204;" class="footer-background">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 style="color:white">NEW TO HDQ?</h4>
                <div style="color:white">Subscribe to our newsletter and get 10% off on your first buy.</div>
            </div>
            <div class="col-md-6 mt-auto">
                <div class="card card-sm subscribe-form" style="width:100%">
                    <div class="row no-gutters align-items-center subscribe-form-div">
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-sm form-control-borderless" type="email" 
                                   placeholder="Enter email" style="width:100%" required id="subscribeEmail">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-sm subscrcibe-button" type="submit" onclick="SubscribeToMailingList()" >
                                 Subscribe
                            </button>
                        </div>
                        <!--end of col-->
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
<div style="background-color:#212529;" class="footer-background">
    <div class="container">
        <div class="row">

            <div class="col-md-2">
                <div class="footer-header">USEFUL LINKS</div>
                <div class="footer-detail"><a href="@Url.Action("About")" class="footer-link">About Us</a></div>
                <div class="footer-detail"><a href="@Url.Action("Contact")" class="footer-link">Contact Us</a></div>
                <div class="footer-detail"><a href="@Url.Action("Help")" class="footer-link">FAQ</a></div>
                <div class="footer-detail"><a href="@Url.Action("Shop","Product")" class="footer-link">Shop</a></div>
            </div>

            <div class="col-md-2">
                <div class="footer-header">MY ACCOUNT</div>
                <div class="footer-detail"><a href="@Url.Action("Account","Customer")"  class="footer-link">My account</a></div>
                <div class="footer-detail"><a href="@Url.Action("Orders","Customer")"  class="footer-link">Orders</a></div>
                <div class="footer-detail"><a href="@Url.Action("Wishlist","Customer")"  class="footer-link">Wishlist</a></div>
                <div class="footer-detail"><a href="@Url.Action("PendingReviews","Customer")"  class="footer-link">Pending reviews</a></div>
            </div>
            <div class="col-md-3">
                <div class="footer-header">CATEGORIES</div>
                <div class="footer-detail">
                    <a class="footer-link" href="@Url.Action("Shop","Product")">All</a>
                </div>
                @if (ViewBag.Categories != null)
                {
                    foreach (var category in ViewBag.Categories)
                    {
                        <div class="footer-detail">
                            <a href="@Url.Action("Shop","Product",new { categoryId=category.Id})" class="footer-link">@category.Name</a>
                        </div>
                    }
                }


            </div>
            <div class="col-md-5">
                <div class="footer-header">HDQ CONTACT INFO</div>
                <div class="footer-detail">
                    <img class="footer-detail-img" src="~/Content/Images/map-pin.svg" />
                    @AppConstant.HDQAddress
                </div>
                <div class="footer-detail">
                    <img class="footer-detail-img" src="~/Content/Images/mail.svg" />
                    @AppConstant.HDQEmail
                </div>
                <div class="footer-detail">
                    <img class="footer-detail-img" src="~/Content/Images/phone.svg" />
                    @AppConstant.HDQPhoneNumber
                </div>
                <div class="footer-detail">
                    <img class="footer-detail-img" src="~/Content/Images/facebook.svg" style="margin-left:0"/>
                    <img class="footer-detail-img" src="~/Content/Images/instagram.svg" />
                    <img class="footer-detail-img" src="~/Content/Images/twitter.svg" />
                    <img class="footer-detail-img" src="~/Content/Images/youtube.svg" />
                </div>
            </div>
        </div>


        <p style="color:white;margin:0;text-align:center">&copy; @DateTime.Now.Year - HDQ</p>

    </div>
</div>

<style>
    
    .footer-background{
        padding:30px 50px;
    }

/*.subscrcibe-button {
    border-radius:0;
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: #96157a;
    cursor: pointer;
    margin: 0 10px;
    width:100%;
}


.subscrcibe-button:hover {
    transform: scale(1.01);
    background-color: #ff8d19;
    box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
    transition: all ease 0.3s;
    color:white;
}*/

.footer-header{
    font-size:18px;
    font-weight:500;
    color:white;
    margin-bottom:20px;
    margin-top:20px;
}

.footer-detail{
    margin-bottom:10px;
    color:white;
    font-weight:500;
    word-wrap:break-word;
}

.footer-link{
    color:white !important;
    font-weight:500;
}

.footer-detail-img{
     margin-right:10px;
}



/*smart phones*/
@@media screen and (max-width: 420px) and (min-width: 0px) {

     .footer-background{
        padding:50px 10px;
    }
}



  .form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

    .subscribe-form-div {
        padding: 1px;
        border: 1px solid #a6adad;
    }

    .subscrcibe-button {
        color: white;
        border-radius: 0;
        transition: all ease 0.3s;
        background-color: #96157a;
    }

     .subscrcibe-button:hover{
        background-color:#9c3b8d;
        color:white;
    }

   
    /*screens less than md*/
@@media screen and (min-width:991px) {
    .subscribe-form{
         width:50%;
         margin-right:10px;
     }
}
















</style>