<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #0a0c13;">
        @Html.ActionLink("DQueens", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:#E97128" })
        <ul class="navbar-nav flex-row ml-auto">
            <li class="nav-item">
                <a class="nav-link navbar-link" href="@Url.Action("Dashboard","Customer")"><img src="~/Content/Images/user.svg"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-link" href="@Url.Action("ViewCart","Cart")"><img src="~/Content/Images/shopping-cart.svg"></a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line" style="margin-bottom: 0;"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @Html.ActionLink("Shop", "Index", "Product", new { area = "" }, new { @class = "nav-link navbar-link" })
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link navbar-link dropdown-toggle" href="#" id="navbarCategoriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarCategoriesDropdown">
                        <div id="navbarCategories"></div>

                    </div>

                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    @RenderBody()

    <div class="container-fluid body-content">

        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/alertify.min.js"></script>

    <script src="~/Content/js/site.js"></script>

</body>
</html>
