<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HDQ</title>
    <link rel="icon" href="~/Content/Images/HdqLogo.png" type="image/icon type">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="~/Content/general.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <a href="@Url.Action("Index","Home")">
            <img src="~/Content/Images/HdqLogo.png" class="navbar-logo" />
        </a>
        
        <ul class="navbar-nav flex-row ml-auto">

            <li class="nav-item ml-lg-3 d-sm-block d-md-none d-lg-none d-xl-none">
                <a class="nav-link navbar-link" href="@Url.Action("Account","Customer")">
                    <i class="far fa-user"></i>
                </a>
            </li>
            <li class="nav-item ml-lg-3">
                <a class="nav-link navbar-link" href="@Url.Action("Index","Cart")">
                    <i class="fas fa-cart-plus"></i>
                    @Html.Partial("~/Views/Cart/_navbarCartNumber.cshtml")
                </a>
            </li>
        </ul>
        <button class="navbar-toggler collapsed position-relative" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @using (Html.BeginForm("SearchShop", "Product", FormMethod.Post, new { @class = "card card-sm ml-auto search-form" }))
            {

                @Html.AntiForgeryToken()

                <div class="row no-gutters align-items-center navbar-search-div">
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-sm form-control-borderless navbar-search-input" type="search" placeholder="Search here" name="query">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-sm navbar-search-button" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <!--end of col-->
                </div>
            }

            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Shop", "Index", "Product", new { area = "" }, new { @class = "nav-link navbar-link" })
                </li>
                <li class="nav-item dropdown mr-md-2 navbar-category">
                    <a class="nav-link navbar-link dropdown-toggle" id="navbarCategoriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="navbar-category-name">Categories</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarCategoriesDropdown">
                        @Html.Partial("~/Views/Home/_navbarCategories.cshtml")
                    </div>

                </li>
            </ul>

            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="pagebackground">
        @RenderBody()
        <div id="sidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div id="sidebarbody" class="sidebarbody"></div>
        </div>

        <div id="snackbar-success"></div>
        <div id="snackbar-error"></div>
        <div id="snackbar-message"></div>
    </div>

    <footer>
        @Html.Partial("_footer")
    </footer>


    <!--modals-->
    <!--quick view product-->
    <div class="modal fade" id="productQuickView">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header px-4 py-2">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="productQuickViewBody">


                </div>


            </div>

        </div>

    </div>



    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/js/site.js"></script>

</body>
</html>

