<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HDQ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="~/Content/general.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #0a0c13;">
        @Html.ActionLink("HDQ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:#df7204" })
        <ul class="navbar-nav flex-row ml-auto">
            <li class="nav-item">

                <a class="nav-link navbar-link" href="@Url.Action("Dashboard","Customer")">
                    <img src="~/Content/Images/user.svg">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-link" href="@Url.Action("ViewCart","Cart")">
                    <img src="~/Content/Images/shopping-cart.svg">
                    @Html.Partial("~/Views/Cart/_navbarCartNumber.cshtml")
                </a>
            </li>
        </ul>
        <button class="navbar-toggler collapsed position-relative" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @Html.ActionLink("Shop", "Index", "Product", new { area = "" }, new { @class = "nav-link navbar-link" })
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link navbar-link dropdown-toggle" href="#" id="navbarCategoriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarCategoriesDropdown">
                        @Html.Partial("~/Views/Home/_navbarCategories.cshtml")
                    </div>

                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div style="background-color:#F4F6F6">
        @RenderBody()
        <div id="sidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div id="sidebarbody" style="padding:10px 20px;"></div>
        </div>

        <div id="snackbar-success"></div>
        <div id="snackbar-error"></div>
        <div id="snackbar-message"></div>
    </div>

    <footer style="max-width:100vw;overflow-x:hidden">
        @Html.Partial("_footer")
    </footer>


    <!--modals-->
    <!--quick view product-->
    <div class="modal fade" id="productQuickView">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:5px 10px">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body" id="productQuickViewBody">


                </div>


            </div>

        </div>

    </div>



    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/alertify.min.js"></script>
    <script src="~/Content/js/site.js"></script>

</body>
</html>


<style>
  

</style>