@model DQueensFashion.Models.AddToCartCustomMade
@using DQueensFashion.Utilities

<h6>@Model.ProductName</h6>

@using (Html.BeginForm("AddToCartCustomMade", "Cart"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model=>Model.ProductId)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-form-label">Quantity</div>
            <select class="form-control" name="Quantity">
                @for (int i = 1; i <= Model.Quantity; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>

        <div class="row">

            @{
                if (Model.BurstSize)
                {

                    <div class="form-group col-6">
                        <div class="col-form-label">Burstsize</div>
                        <select class="form-control" name="BurstSizeValue">
                            @foreach (var size in AppConstant.BurstSizeValues)
                            {
                                <option value="@size">@size</option>
                            }

                        </select>
                    </div>
                }

                if (Model.ShoulderLength)
                {
                 
                    <div class="form-group col-6">
                        <div class="col-form-label">Shoulder length</div>
                        <select class="form-control" name="ShoulderLengthValue">
                            @foreach (var size in AppConstant.ShoulderLengthValues)
                            {
                                <option value="@size">@size</option>
                            }

                        </select>
                    </div>
                }

                if (Model.WaistLength)
                {

                    <div class="form-group col-6">
                        <div class="col-form-label">Waist length</div>
                        <select class="form-control" name="WaistLengthValue">
                            @foreach (var size in AppConstant.WaistLengthVallues)
                            {
                                <option value="@size">@size</option>
                            }

                        </select>
                    </div>
                }
            }

        </div>

        <input type="submit" value="ADD TO CART" class="btn mt-0" style="max-width:150px;background-color:#E97128;color:white" />
    </div>
}


