@model DQueensFashion.Models.ViewCartViewModel
@using DQueensFashion.Utilities

<style>
    .cart-remove-btn{
        cursor:pointer
    }

    .cart-item-image{
        width:80px;
    }

    .cart-item-image>img{
        width:70px;height:70px;
    }

    .desk-cart-itemname {
        word-wrap: break-word;
        width: 200px;
        max-width: 200px;
    }
</style>


<table class="table carttable">
    <tr>
        <th></th>
        <th style="width:80px"></th>
        <th></th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>

    @foreach (var item in Model.Carts)
    {
        <tr>

            <td>
                <div onclick="RemoveCartItem(@item.Product.Id)" class="cart-remove-btn">
                    <i class="far fa-times-circle text-danger"></i>
                </div>
            </td>
            <td class="cart-item-image">
                <img src="@Url.Content(item.MainImage)" alt="@item.Product.Name _image_houseofdqueens"/>
            </td>
            <td class="desk-cart-itemname">
               
                <a href="@Url.Action("ProductDetails","Product",new { id = item.GeneratedUrl})" class="cartitemname">
                    <div>
                        @item.Product.Name
                    </div>
                </a>
                <div style="font-size:15px;font-weight:400;color:#818181">@item.Product.Category.Name</div>
                <div>$@item.UnitPrice</div>
            </td>

            <td style="word-break:break-word;max-width:120px">
                @Html.Raw(item.Description.Replace(Environment.NewLine, "<br/>"))
                @if (item.Product.CategoryId == AppConstant.OutfitsId)
                {
                    <p class="text-danger">Measurements are in inches*</p>
                }
            </td>
            <td style="width:50px;">
                <select class="form-group-sm" style="width:100%" onchange="ChangeCartItemQuantity(@item.Product.Id,this.value)">
                    @{
                        for (int i = 1; i <= item.MaxQuantity; i++)
                        {
                            if (i == item.Quantity)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    }
                </select>
               
            </td>
            <td>
                <div style="font-weight:500">
                    $@Html.DisplayFor(modelItem => item.TotalPrice)
                </div>
                
            </td>
        </tr>
    }

</table>

