@model DQueensFashion.Models.ViewCartViewModel
@using DQueensFashion.Utilities

<table class="table carttable">
    <tr>
        <th></th>
        <th>
            Items
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Carts)
    {
        <tr>
            <td>
                <div onclick="RemoveCartItem(@item.Product.Id)" class="cart-remove-btn">
                    <img src="~/Content/Images/x-circle.jpg" />
                </div>
            </td>

            <td style="width:80px">
                <img src="@Url.Content(item.MainImage)" style="width:70px;height:70px" alt="@item.Product.Name _image_houseofdqueens"/>
            </td>

            <td style="word-wrap:break-word">
                <a href="@Url.Action("ProductDetails","Product",new { id = item.GeneratedUrl })" class="cartitemname">
                    <div style="font-size:15px;font-weight:500">
                        @item.Product.Name
                    </div>
                </a>

                <div style="font-size:15px;font-weight:400;color:#818181">@item.Product.Category.Name</div>
                <div>$@item.UnitPrice</div>

                <div style="font-weight:500">Desc:</div>
                <div style="font-size:14px;word-break:break-word">
                    @Html.Raw(item.Description.Replace(Environment.NewLine, "<br />"))
                </div>
                @if (item.Product.CategoryId == AppConstant.OutfitsId)
                {
                    <p class="text-danger mb-0">Measurements are in inches*</p>
                }
                <select class="form-group-sm mb-1" style="width:100px;margin-top:5px;" onchange="ChangeCartItemQuantity(@item.Product.Id,this.value)">
                    @{
                        for (int i = 1; i <= item.MaxQuantity; i++)
                        {
                            if (i == item.Quantity)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    }
                </select>
                <div style="font-weight:500">
                    $@Html.DisplayFor(modelItem => item.TotalPrice)
                </div>

            </td>


        </tr>
    }

</table>
