@model DQueensFashion.Models.ViewCartViewModel
@using DQueensFashion.Utilities


    <div class="viewCartTable">
        @if (Model.Count > 0)
        {
            <h4 class="mt-3">
                Cart : @Model.Count
                @{
                    if (Model.Count > 1)
                    { <span>items</span>}
                    else
                    {<span>item</span> }
                }
            </h4>
            <div class="row">
                <div class="col-lg-8">
                    <div class="d-xs-block d-sm-block d-md-block d-lg-none d-xl-none">
                        @Html.Partial("_cartTableMobile", Model)
                    </div>
                    <div class="d-none d-lg-block">
                        @Html.Partial("_cartTableDesktop", Model)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card cart-total-card">
                        <div class="card-header">
                            <div>CART TOTAL</div>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="cart-subtotal">
                                    <span>SUBTOTAL: $@Model.SubTotal</span>
                                </div>
                                <hr class="m-0" />
                                <div class="cart-shipping-details">
                                    <span>Shipping price: $@Model.ShippingPrice anywhere in USA</span>
                                </div>
                                <hr class="m-0" />
                                <div>Prices are updated at check out</div>
                                <hr class="m-0" />

                                @if (Model.CustomerSubscriptionDiscount)
                                {
                                    <div  class="text-danger">Your subscription discount will be added at checkout</div>
                                    <hr class="m-0" />
                                }

                                <div class="cart-total">
                                    <span>TOTAL: $@Model.TotalAfterShipping</span>
                                </div>

                                @{
                                    if (Model.Count < 1)
                                    {
                                        <input type="submit" class="btn"
                                               value="CHECK OUT" disabled />
                                    }
                                    else
                                    {
                                        <input type="button" class="btn cart-checkout-btn"
                                               value="CHECK OUT" onclick="CheckOut()" />

                                    }
                                }

                            </div>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-12">
                            <a href="@Url.Action("Index", "Product")" class="btn btn-block cart-continue-shipping-btn">Continue shopping</a>
                        </div>

                    </div>

                </div>

            </div>
        }
        else
        {
            <div class="empty-cart-div">
                <div class="empty-cart-image">
                    <img src="~/Content/Images/shopping-cart-big.svg" style="margin:auto" />
                </div>
                <div class="empty-cart-head">
                    YOUR CART IS EMPTY
                </div>
                <div class="empty-cart-body">
                    Add products to cart.
                    You will find a lot of interesting products on our "Shop" page.
                </div>
            </div>
            <div class="empty-cart-continue-shopping-div">
                <a href="@Url.Action("Index","Product")" class="btn">Continue shopping</a>
            </div>
        }


    </div>
   

<script>
    function CheckOut() {
        window.location.href = "@Url.Action("CheckOut","Cart")";
    }
</script>