@model DQueensFashion.Models.ViewCartViewModel
@using DQueensFashion.Utilities



<table class="table">
    <tr>
        <th></th>
        <th style="width:80px"></th>
        <th></th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>

    @foreach (var item in Model.Carts)
    {
        <tr>

            <td>
                <div onclick="RemoveCartItem(@item.Product.Id)" style="cursor:pointer">
                    <img src="~/Content/Images/x-circle.svg" />
                </div>
            </td>
            <td style="width:80px">
                <img src="@Url.Content(item.MainImage)" style="width:70px;height:70px" />
            </td>
            <td style="word-wrap:break-word;width:200px;max-width:200px">
                <div style="font-size:15px;font-weight:500">
                    @item.Product.Name
                </div>
                <div style="font-size:15px;font-weight:400;color:#818181">@item.Product.Category.Name</div>
                <div>$@item.UnitPrice</div>
            </td>

            <td style="word-break:break-word;max-width:120px">
                @Html.Raw(item.Description.Replace(Environment.NewLine, "<br/>"))
                @if (item.Product.CategoryId == AppConstant.CustomMadeCategoryId)
                {
                    <p class="text-danger">*Measurements are in inches</p>
                }
            </td>
            <td style="width:50px;">
                <select class="form-group-sm" style="width:100%" onchange="ChangeCartItemQuantity(@item.Product.Id,this.value)">
                    @{
                        for (int i = 1; i < 10; i++)
                        {
                            if (i == item.Quantity)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    }
                </select>
               
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
        </tr>
    }

</table>

