@model DQueensFashion.Models.CartViewModel
@using DQueensFashion.Utilities

<h6>@Model.ProductName</h6>

@using (Html.BeginForm("AddToCartCustomMade", "Cart"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <input type="hidden" id="ProductId" value="@Model.ProductId" />

        <div class="form-group">
            <div class="col-form-label">Quantity</div>
            <select class="form-control" id="Quantity">
                @for (int i = 1; i <= Model.Quantity; i++)
                {
                    if (i == Model.PrevQuantity)
                    {
                        <option value="@i" selected>@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }

                }
            </select>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <div class="col-form-label">Size</div>
                    <select class="form-control" id="ReadyMadeSize">
                        @{
                            foreach (var size in AppConstant.ReadyMadeSizes)
                            {
                                if (string.Compare(size, Model.ReadyMadeSize, true) == 0)
                                {
                                    <option value="@size" selected>@size</option>
                                }
                                else
                                {
                                    <option value="@size">@size</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <input type="button" value="EDIT" class="btn mt-0"
               style="max-width:150px;background-color:#E97128;color:white"
               onclick="EditCartReadyMadePost()" />
    </div>
}



