@model DQueensFashion.Models.ViewCartViewModel
@using DQueensFashion.Utilities

@{
    ViewBag.Title = "Check Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="background-color:white">
                    <div style="text-align:center;font-weight:700;font-size:18px">PAYMENT OPTIONS</div>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("CheckOutWithPayPal", "Cart"))
                    {
                        @Html.AntiForgeryToken()
                        <div class="box">
                            <button type="submit" class="paypal-button">
                                <span class="paypal-logo">
                                    <i style="color:#253b80">Pay</i><i style="color:#179bd7">Pal</i>
                                </span>
                            </button>
                        </div>
                    }
                </div>
                <div class="card-header" style="background-color:white">
                    <div style="text-align:right;font-weight:700;font-size:18px"> TOTAL: $@Model.SubTotal</div>
                </div>
            </div>
            
        </div>
        <div class="col-md-6">

            <div style="font-size:20px;font-weight:300">CART ITEMS</div>
            <table class="table carttable">
               
                @foreach (var item in Model.Carts)
                {
                    <tr>
                        <td style="width:85px">
                            <img src="@Url.Content(item.MainImage)" style="width:85px;height:100px" />
                        </td>

                        <td style="word-wrap:break-word;width:150px;padding-left:0;padding-right:0">
                            <div style="font-size:15px;font-weight:500">
                                @{
                                    if (item.Product.Name.Length > 18)
                                    {
                                        <div>@item.Product.Name.Substring(0, 18)...</div>
                                    }
                                    else
                                    {
                                        <div>@item.Product.Name</div>
                                    }
                                }
                            </div>
                            <div style="font-size:15px;font-weight:400;color:#818181">@item.Product.Category.Name</div>
                            <div>$@item.UnitPrice X @item.Quantity</div>
                            <div style="font-weight:500">
                                $@Html.DisplayFor(modelItem => item.TotalPrice)
                            </div>


                        </td>

                        <td style="padding-left:1px;padding-right:0">
                            <div style="font-weight:500">Desc:</div>
                            <div style="font-size:14px;word-break:break-word">
                                @Html.Raw(item.Description.Replace(Environment.NewLine, "<br />"))
                            </div>
                            @if (item.Product.CategoryId == AppConstant.CustomMadeCategoryId)
                            {
                                <p class="text-danger mb-0">*Measurements are in inches</p>
                            }

                        </td>

                    </tr>
                }

            </table>

            

        </div>
    </div>
</div>

<style>
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .paypal-logo {
        font-family: Verdana, Tahoma;
        font-weight: bold;
        font-size: 15px;
    }

    .paypal-button {
        padding: 15px 30px;
        border: 1px solid #FF9933;
        border-radius: 5px;
        background-image: linear-gradient(#FFF0A8, #F9B421);
        margin: 0 auto;
        display: block;
        width: 200px;
        position: relative;
    }

</style>
