@model DQueensFashion.Models.ViewCartViewModel
@using DQueensFashion.Utilities

@{
    ViewBag.Title = "Check Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <div class="row">
        <div class="col-md-6 mb-5">

            <div style="font-size:20px;font-weight:300">SHIPPING DETAILS</div>
            <hr class="m-0 mb-2" />
            @using (Html.BeginForm("CheckOut", "Cart"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-6 pr-md-0">
                        <div class="form-group">
                            <div class="col-12">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First name" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-md-0">
                        <div class="form-group">
                            <div class="col-12">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last name" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <div class="col-12">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone number" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <div class="col-12">
                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @rows = 2, @placeholder = "Address" })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="col-12">
                            <div style="font-weight:700;font-size:18px"> TOTAL: $@Model.SubTotal</div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div style="font-size:20px;font-weight:300;width:100%;margin-top:20px;margin-bottom:10px;
                        border-bottom:1px solid rgba(0, 0, 0, 0.1);">PAY WITH</div>

                        <div>
                            <button type="submit" class="paypal-button" style="">
                                <span>
                                    <i style="color:#253b80">Pay</i>
                                    <i style="color:#179bd7">Pal</i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="col-md-6">

            <div style="font-size:20px;font-weight:300">CART ITEMS</div>
            <table class="table carttable">

                @foreach (var item in Model.Carts)
                {
                    <tr>
                        <td style="width:85px">
                            <img src="@Url.Content(item.MainImage)" style="width:85px;height:100px" />
                        </td>

                        <td style="word-wrap:break-word;width:150px;padding-left:0;padding-right:0">
                            <div style="font-size:15px;font-weight:500">
                                @{
                                    if (item.Product.Name.Length > 18)
                                    {
                                        <div>@item.Product.Name.Substring(0, 18)...</div>
                                    }
                                    else
                                    {
                                        <div>@item.Product.Name</div>
                                    }
                                }
                            </div>
                            <div style="font-size:15px;font-weight:400;color:#818181">@item.Product.Category.Name</div>
                            <div>$@item.UnitPrice X @item.Quantity</div>
                            <div style="font-weight:500">
                                $@Html.DisplayFor(modelItem => item.TotalPrice)
                            </div>


                        </td>

                        <td style="padding-left:1px;padding-right:0">
                            <div style="font-weight:500">Desc:</div>
                            <div style="font-size:14px;word-break:break-word">
                                @Html.Raw(item.Description.Replace(Environment.NewLine, "<br />"))
                            </div>
                            @if (item.Product.CategoryId == AppConstant.CustomMadeCategoryId)
                            {
                                <p class="text-danger mb-0">*Measurements are in inches</p>
                            }

                        </td>

                    </tr>
                }

            </table>



        </div>
    </div>
</div>

<style>

    .paypal-button {
        background-image: linear-gradient(#FFF0A8, #F9B421);
        padding: 5px 20px;
        border: 1px solid #FF9933;
    }
</style>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
