@model DQueensFashion.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
    <div class="container body-content">
        <div class="login-register-logo-div mx-auto mt-2">
            <img src="~/Content/Images/HDQ LOGO FINAL.png"/>
        </div>
        <div class="card login-card mx-auto mt-3 mb-5">
            <div class="card-body">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 style="text-align:center">REGISTER</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @id = "passwordInput" })
                                <div class="input-group-append">
                                    <div class="input-group-text showpassword" onclick="ShowPassword()">
                                        <span id="password-lock-icon" class="fas fa-eye"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password", @id = "ConfirmPasswordInput" })
                                <div class="input-group-append">
                                    <div class="input-group-text showconfirmpassword" onclick="ShowConfirmPassword()">
                                        <span id="confirm-password-lock-icon" class="fas fa-eye"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.TermsAndCondition)
                                    @Html.Label("I agree to the terms")
                                </div>
                            </div>
                        </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-12">
                            <input type="submit" value="Register" class="btn" style="color:white;background-color:#df7204;border-radius:0" />
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="m-0">
                            @Html.ActionLink("Already a user? Log in", "Login")
                        </p>
                    </div>
                }

            </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
