@model IEnumerable<DQueensFashion.Models.ViewProductsViewModel>
    <div id="productsList">
        <div class="container">
            <div class="row">
                @foreach (var product in Model)
                {

                    <div class="col-lg-3 col-12">

                        <div class="product-box">
                            <div onclick="NavigateToProductDetails(@product.Id)" style="cursor:pointer">
                                <div class="product-time-label">New</div>
                                <div class="product-discount-label">10%</div>
                                <div class="img-box">
                                    <img src="@Url.Content(product.MainImage)">
                                </div>
                            </div>
                            <div class="product-details">
                                <div onclick="NavigateToProductDetails(@product.Id)" style="cursor:pointer">
                                    <div class="product-title">@product.Name</div>
                                    <div class="product-category">@product.Category</div>
                                    <span class="product-initial-price">$@product.Price</span>
                                    <span class="product-price">$@product.Price</span>
                                </div>
                                <div>
                                    @Html.Partial("~/views/Product/_averageRating.cshtml", product.Rating)
                                    <span class="float-right mb-1">
                                        <img src="~/Content/Images/eye.svg" style="margin-right: 10px; cursor:pointer" onclick="productQuickView(@product.Id)">
                                        <img src="~/Content/Images/heart.svg" style=" cursor:pointer" onclick="AddToWishList(@product.Id)">
                                    </span>
                                </div>

                                <div class="cart" onclick="AddToCart(@product.Id)">
                                    <div href="#">Add to cart</div>
                                </div>
                            </div>

                        </div>
                    </div>

                }
                @{
                    if (Model.Count() == 0)
                    {
                        <h4>No item</h4>
                    }
                }
            </div>

            @Html.Partial("_productListPagination")
        </div>
    </div>


