

<nav aria-label="Page navigation" class="mt-3">
    <ul class="pagination justify-content-center">
        @{
            if (ViewBag.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <div class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </div>
                </li>
            }
            else
            {
                <li class="page-item">
                    <div style="cursor:pointer" class="page-link product-pagi-prev-page" aria-label="Previous" onclick="ProductPagination(@ViewBag.CurrentPage-1)">
                        <span aria-hidden="true" class="product-pagi-color">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </div>
                </li>
            }

            if (ViewBag.NumberOfPages < 7)
            {
                for (int pageNo = 1; pageNo <= ViewBag.NumberOfPages; pageNo++)
                {


                    if (pageNo == ViewBag.CurrentPage)
                    {
                        <li class="page-item">
                            <div class="page-link product-pagi-n-page-active">@pageNo</div>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <div class="page-link product-pagi-n-page" href="#" onclick="ProductPagination(@pageNo)">@pageNo</div>
                        </li>
                    }
                }
            }
            else
            {
                bool pageAssigned = false;
                for (int pageNo = 1; pageNo <= 2; pageNo++)
                {
                    if (pageNo == ViewBag.CurrentPage)
                    {
                        <li class="page-item">
                            <div class="page-link product-pagi-n-page-active">@pageNo</div>
                        </li>
                        pageAssigned = true;
                    }
                    else
                    {
                        <li class="page-item">
                            <div class="page-link product-pagi-n-page" href="#" onclick="ProductPagination(@pageNo)">@pageNo</div>
                        </li>
                    }
                }
                if ((ViewBag.CurrentPage-2) > 1)
                {
                    <li class="page-item">
                        <div class="page-link product-pagi-color">...</div>
                    </li>
                }
                if (!pageAssigned && ((ViewBag.NumberOfPages - ViewBag.CurrentPage) > 0))
                {
                    <li class="page-item">
                        <div class="page-link product-pagi-n-page-active">@ViewBag.CurrentPage</div>
                    </li>
                }
                if ((ViewBag.NumberOfPages - ViewBag.CurrentPage) > 1)
                {
                    <li class="page-item">
                        <div class="product-pagi-color page-link">...</div>
                    </li>
                }


                if (ViewBag.NumberOfPages == ViewBag.CurrentPage)
                {
                    <li class="page-item">
                        <div class="page-link product-pagi-n-page-active">@ViewBag.NumberOfPages</div>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <div class="page-link product-pagi-n-page" href="#" onclick="ProductPagination(@ViewBag.NumberOfPages)">
                            @ViewBag.NumberOfPages
                        </div>
                    </li>
                }
            }



            if (ViewBag.CurrentPage == ViewBag.NumberOfPages)
            {
                <li class="page-item disabled">
                    <div class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </div>
                </li>
            }
            else
            {
                <li class="page-item">
                    <div class="page-link product-pagi-next-page" href="#" aria-label="Next" onclick="ProductPagination(@ViewBag.CurrentPage+1)">
                        <span aria-hidden="true" class="product-pagi-color">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </div>
                </li>
            }
        }



    </ul>
</nav>