@model IEnumerable<DQueensFashion.Models.ViewProductsViewModel>
    <div id="productsList">
        <div class="row" id="">
            @foreach (var product in Model)
            {
                <div class="col-md-4 col-6">
                    <div class="card">
                        <div class="product">
                            <a href="@Url.Action("ProductDetails","Product",new { id= product.Id})" class="atag">
                                <img class="product_img" src="@Url.Content(product.Image1)" alt="product_img">
                                <div class="product_info">
                                    <h6 class="product_title">@product.Name</h6>
                                    <strong class="product_price">@product.Price</strong>
                                </div>
                            </a>
                            <hr style="margin:0">
                            <div style="margin:5px 5px;cursor:pointer" class="float-right" onclick="AddToCart(@product.Id)">
                                <img src="~/Content/Images/shopping-cart (orange).svg" class="product_button">
                            </div>
                            <div style="margin:5px 5px;cursor:pointer" class="float-right" onclick="AddToWishList(@product.Id)">
                                <img src="~/Content/Images/heart.svg" class="product_button">
                            </div>
                            <div style="margin:5px 5px;cursor:pointer" class="float-right" onclick="productQuickView(@product.Id)">
                                <img src="~/Content/Images/eye.svg" class="product_button">
                            </div>
                        </div>
                    </div>
                </div>
            }
            @{
                if (Model.Count() == 0)
                {
                    <h4>No item</h4>
                }
            }
        </div>
        <nav aria-label="Page navigation" class="mt-3">
            <ul class="pagination justify-content-center">
                @{
                    if (ViewBag.CurrentPage == 1)
                    {
                        <li class="page-item disabled">
                            <div class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <div style="cursor:pointer" class="page-link" aria-label="Previous" onclick="ProductPagination(@ViewBag.CurrentPage-1)">
                                <span aria-hidden="true" style="color:#0a0c13">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </div>
                        </li>
                    }

                    for (int pageNo = 1; pageNo <= ViewBag.NumberOfPages; pageNo++)
                    {


                        if (pageNo == ViewBag.CurrentPage)
                        {
                            <li class="page-item">
                                <div style="background-color:#0a0c13;color:white" class="page-link">@pageNo</div>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <div style="cursor:pointer;color:#0a0c13" class="page-link" href="#" onclick="ProductPagination(@pageNo)">@pageNo</div>
                            </li>
                        }
                    }

                    if (ViewBag.CurrentPage == ViewBag.NumberOfPages)
                    {
                        <li class="page-item disabled">
                            <div class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <div class="page-link" href="#" aria-label="Next" style="cursor:pointer" onclick="ProductPagination(@ViewBag.CurrentPage+1)">
                                <span aria-hidden="true" style="color:#0a0c13">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </div>
                        </li>
                    }
                }



            </ul>
        </nav>

    </div>


