@model DQueensFashion.Models.ViewProductsViewModel
@using DQueensFashion.Utilities

<div class="product-box  my-3">
    <a href="@Url.Action("ProductDetails","Product",new { id=Model.GeneratedUrl})">
        @{
            if (Model.IsOutOfStock)
            {
                <div class="product-outofstock-label">Out of stock</div>
            }
            else
            {
                if (Model.IsNew)
                {
                    <div class="product-time-label">New</div>
                }
            }
        }

        @if (Model.Discount > 0)
        {
            <div class="product-discount-label">-@Model.Discount%</div>
        }
        <div class="img-box">
            @{
                if (Model.LazyLoad)
                {
                    <img data-src="@Url.Content(Model.MainImage)" alt="@Model.Name" class="lazy" />
                }
                else
                {
                    <img src="@Url.Content(Model.MainImage)" alt="@Model.Name image houseofdqueens">
                }
            }
        </div>
    </a>
    <div class="product-details">
        <div onclick="NavigateToProductDetails('@Model.GeneratedUrl')">
            <div class="d-sm-block d-md-none d-lg-none d-xl-none">
                @if (Model.Name.Length > 17)
                {
                    <div class="product-title"> @Model.Name.Substring(0, 15) ...</div>
                }
                else
                {
                    <div class="product-title"> @Model.Name</div>
                }
            </div>
            <div class="d-none d-md-block d-lg-block d-xl-none">
                @if (Model.Name.Length > 24)
                {
                    <div class="product-title"> @Model.Name.Substring(0, 21) ...</div>
                }
                else
                {
                    <div class="product-title"> @Model.Name</div>
                }
            </div>
            <div class="d-none d-xl-block">
                @if (Model.Name.Length > 30)
                {
                    <div class="product-title"> @Model.Name.Substring(0, 27) ...</div>
                }
                else
                {
                    <div class="product-title"> @Model.Name</div>
                }
            </div>


            <div class="product-category">@Model.Category</div>
            @if (Model.Discount > 0)
            {
                <span class="product-initial-price">$@Model.Price</span>
            }
            <span class="product-price">$@Model.SubTotal</span>
        </div>
        <div class="mb-1">
            @Html.Partial("~/views/Product/_averageRating.cshtml", Model.Rating)
        </div>
        @{
            if (Model.ForSale)
            {
                if (Model.IsOutOfStock)
                {
                    <div class="cart" onclick="RequestForProduct(@Model.Id)">
                        <div href="">Request</div>
                    </div>
                }
                else
                {
                    if (Model.CategoryId == 1)
                    {
                        <div class="cart" onclick="AddToCartOutfits(@Model.Id)">
                            <div href="#">Add to cart</div>
                        </div>
                    }
                    else
                    {
                        <div class="cart" onclick="AddToCart(@Model.Id)">
                            <div href="#">Add to cart</div>
                        </div>
                    }
                }
            }
        }

    </div>

</div>

