@model DQueensFashion.Models.ProductIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid body-content">
        <div class="mt-2"></div>
        <input type="text" class="form-control" id="searchString" />
        <select class="form-control" id="sortString">
            <option value="1">Best selling</option>
            <option value="2">Alphabetically, A - Z</option>
            <option value="3">Alphabetically, Z - A</option>
            <option value="4">Price, low to high</option>
            <option value="5">Price, high to low</option>
            <option value="6">Date, new to old</option>
            <option value="7">Date, old to new</option>
        </select>
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" id="categoryId">
                <option value="0">All</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id" selected="@category.Selected">@category.Name</option>
                }
            </select>
        </div>

        <input type="button" class="btn btn-secondary mt-1" value="SEARCH" onclick="SearchProduct()" id="btnFilter" />

        <div id="productScroll">
            @*To scroll page to after pagination*@
        </div>
        <div id="productsList">
            <div class="row pt-5" id="">
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-3">
                        <a href="@Url.Action("ProductDetails","Product",new { id= product.Id})">
                            <div class="card">
                                <img class="card-img-top" src="@Url.Content(product.Image1)" style="height:250px">
                                <div class="card-block">
                                    <h4 class="card-title">@product.Name</h4>
                                    <div class="meta">
                                        <a href="#">@product.Price</a>
                                    </div>
                                    <div class="card-text">
                                        @product.Description
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span class="float-right" onclick="AddToCart(@product.Id)" style="cursor:pointer">Cart</span>
                                    <span class="float-right" onclick="AddToWishList(@product.Id)" style="cursor:pointer">Add to wish list | </span>
                                    <span class="float-right" onclick="productQuickView(@product.Id)" style="cursor:pointer">QV |</span>
                                    <span><i class=""></i>@product.Quantity</span>
                                </div>
                            </div>
                        </a>

                    </div>
                }
                @{
                    if (Model.Products.Count() == 0)
                    {
                        <h4>No item</h4>
                    }
                }
            </div>

            <h4>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                Why do we use it?
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


                Where does it come from?
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </h4>

            @for (int i = 1; i <= ViewBag.NumberOfPages; i++)
            {
                if (i == ViewBag.CurrentPage)
                {
                    @i
                }
                else
                {
                    <div style="cursor:pointer;color:blue" class="page-number" onclick="ProductPagination(@i)">@i</div>
                }
            }
        </div>

    </div>



<!--modals-->
<!--quick view product-->
<div class="modal fade" id="productQuickView">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Product quick view</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="productQuickViewBody">


            </div>


        </div>

    </div>

</div>


<script>

    var _searchString = document.getElementById("searchString");
    var _sortString = document.getElementById("sortString");
    var _categoryId = document.getElementById("categoryId");
    var productScroll = document.getElementById("productScroll");

    function SearchProduct() {
        $.ajax({
            url: '/product/searchproduct',
            dataType: "html",
            data: { searchString: _searchString.value, sortString: _sortString.value, categoryId: _categoryId.value },
            success: function (result) {
                $("#productsList").html(result);
            },
            error: function (xhr, status, error) {
                alert("Error");
            }
        });

    }

    function ProductPagination(pageNumber) {
        $.ajax({
            url: '/product/ProductPagination',
            dataType: "html",
            data: { searchString: _searchString.value, sortString: _sortString.value, categoryId: _categoryId.value, pageNumber: pageNumber },
            success: function (result) {
                $("#productsList").html(result);
                productScroll.scrollIntoView();
                
            },
            error: function (xhr, status, error) {
                alert("Error");
            }
        });
    }

    function productQuickView(productId) {
        var url = "/Product/ProductQuickView/" + productId;

        $("#productQuickViewBody").load(url, function () {
            $("#productQuickView").modal("show");

        })
    }
</script>

