@model DQueensFashion.Models.ViewProductsViewModel
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: orange;
    }

    .orButton {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
    }

    .orButton span{
        background:#fff; 
    padding:0 10px; 
    }

    .product-details {
        margin: 0px;
    }
</style>

<div class="container-fluid body-content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-lg-2">
            <div class="card p-2">
                <div class="row">
                    <div class="col-md-6">
                        <img src="@Url.Content(Model.Image1)" style="width:100%;height:300px" id="productDisplayImage" />
                        <div class="row" style="margin-top:10px">
                            @{
                                if (!string.IsNullOrEmpty(Model.Image1))
                                {
                                    <div class="col-3">
                                        <img src="@Url.Content(Model.Image1)" style="width:100%;height:100px" onclick='changeProductImage("image1")' id="image1" />
                                    </div>
                                }

                                if (!string.IsNullOrEmpty(Model.Image2))
                                {
                                    <div class="col-3">
                                        <img src="@Url.Content(Model.Image2)" style="width:100%;height:100px" onclick='changeProductImage("image2")' id="image2" />
                                    </div>
                                }

                                if (!string.IsNullOrEmpty(Model.Image3))
                                {
                                    <div class="col-3">
                                        <img src="@Url.Content(Model.Image3)" style="width:100%;height:100px" onclick='changeProductImage("image3")' id="image3" />
                                    </div>
                                }

                                if (!string.IsNullOrEmpty(Model.Image4))
                                {
                                    <div class="col-3">
                                        <img src="@Url.Content(Model.Image4)" style="width:100%;height:100px" onclick='changeProductImage("image4")' id="image4" />
                                    </div>
                                }
                            }


                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <h1>@Model.Name</h1>
                            </div>
                        </div>
                        <hr class="m-1" />
                        <div class="row">
                            <div class="col-12">
                                <p class="product-details">Category: @Model.Category</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-details">Product Availability: @Model.Quantity</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-details">Price: $@Model.Price</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="product-details" style="display:inline">Rating:</p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <a href="#">Add a review</a>
                            </div>
                        </div>

                        @using (Html.BeginForm("BuyProduct", "Product"))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" value="@Model.Quantity" id="productQuantity" />
                            <div class="form-horizontal">
                                @Html.Hidden("id")
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Qty</span>
                                    </div>
                                    <input type="number" name="quantity" class="form-control" value="1" min="1" id="quantity" onchange="checkQuantity()" oninput="checkQuantity()" style="max-width:120px;" />
                                </div>
                                <p class="mb-0 text-danger" id="quantityValidationError"></p>
                                <div class="mb-3">
                                    <button type="button" class="btn" style="background-color:#0a0c13;color:white" onclick="AddToWishList(@Model.Id)">Add to wishlist</button>
                                    <button type="button" class="btn" style="background-color:#0a0c13;color:white" onclick="addToCartFromProductDetails(@Model.Id)">Add to cart</button>
                                </div>
                                <h6 class="orButton"><span>OR</span></h6>
                                <input type="submit" value="BUY NOW" class="btn mt-0" onclick="return validateBuy()" style="max-width:150px;background-color:#E97128;color:white" />
                            </div>
                        }

                        <div class="row mt-3">
                            <div class="col-12">
                                <p class="product-details">Description</p>
                                <div class="card p-2"><p class="product-details">@Model.Description</p></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<script>
    var productQuantity = document.getElementById("productQuantity");
    var quantity = document.getElementById("quantity");
    var quantityValidationError = document.getElementById("quantityValidationError");
    var productImage = document.getElementById("productDisplayImage");

    function checkQuantity() {
        if (Number(productQuantity.value) < Number(quantity.value)) {
            quantity.value = productQuantity.value;
            quantityValidationError.innerHTML = "Not enough items available";
        }
        else {
            quantityValidationError.innerHTML = '';
        }
    }

    function validateBuy() {
        if (Number(productQuantity.value) < Number(quantity.value)) {
            quantity.focus();
            return false;
        }
        else {
            return true;
        }
    }

    function changeProductImage(imgId) {

        productImage.src = document.getElementById(imgId).src;
    }

    function addToCartFromProductDetails(productId) {
        AddToCart(productId,quantity.value);
    }
</script>

