@model DQueensFashion.Models.ProductDetailsViewModel
@using DQueensFashion.Utilities
@{
    ViewBag.Title =Model.Product.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-8">
            <div class="product-details-main-image-container">
                <img class="product-details-main-image" src="@Url.Content(Model.Product.MainImage)" id="product-details-img" 
                     alt="@Model.Product.Name image houseofdqueens"/>
            </div>
            <div class="my-3">
                <div class="product-details-nav-images-container">
                    <span>
                        <img src="@Url.Content(Model.Product.MainImage)" class="product-details-nav-images product-details-main-nav-image"
                             id="main-nav-image" onclick="ChangeProductDetailsImage('@Model.Product.MainImage','main-nav-image')" alt="@Model.Product.Name image houseofdqueens" />
                    </span>
                    @{
                        int idCount = 1;
                        foreach (var productImage in Model.Product.OtherImagePaths)
                        {
                            string navImageId = "navImage" + idCount;
                            <span>
                                <img class="product-details-nav-images" src="@Url.Content(productImage)"
                                    id="@navImageId" onclick="ChangeProductDetailsImage('@productImage','@navImageId')" alt="@Model.Product.Name image houseofdqueens" />
                            </span>
                            idCount++;
                        }
                    }
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-12">
                    <h1 class="product-details-title">@Model.Product.Name</h1>
                    <div class="">
                        @Html.Partial("_averageRating", Model.Product.Rating)
                    </div>
                </div>
            </div>
            <hr class="mt-1 mb-1" />
            <div class="row">
                <div class="col-12">
                    <div class="product-details-detail"><span>CATEGORY:</span> @Model.Product.Category</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product-details-detail"><span>IN STOCK:</span> @Model.Product.Quantity</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-1">
                    <div class="product-details-price">$@Model.Product.SubTotal</div>
                    @if (Model.Product.Discount > 0)
                    {
                        <span class="product-details-initial-price">$@Model.Product.Price</span>
                        <span style="background-color:#df7204;color:white;padding:5px">-@Model.Product.Discount%</span>
                    }
                    else
                    {
                        <div class="mb-3"></div>
                    }
                </div>
            </div>
            <div class="mt-1 mb-1">
                <div class="wishlist-button" onclick="AddToWishList(@Model.Product.Id)">
                    <div href="#">Add to wishlist</div>
                </div>
            </div>
            <div class="mt-1">
                @{
                    if (Model.Product.IsOutOfStock)
                    {
                        <div class="cart" onclick="RequestForProduct(@Model.Product.Id)">
                            <div href="">Request</div>
                        </div>
                    }
                    else
                    {
                        if (Model.Product.CategoryId == 1)
                        {
                            <div class="cart" onclick="AddToCartOutfits(@Model.Product.Id)">
                                <div href="#">Add to cart</div>
                            </div>
                        }
                        else
                        {
                            <div class="cart" onclick="AddToCart(@Model.Product.Id)">
                                <div href="#">Add to cart</div>
                            </div>
                        }
                    }


                }
            </div>
            <div class="card mt-3" style="min-height:200px">
                <div class="card-header" style="background-color:white">
                    <div style="font-weight:500;font-size:15px">DELIVERY AND RETURNS</div>
                </div>
                <div class="card-body p-3">
                    <div class="mb-2">
                        <span>
                            <i class="fas fa-truck"></i>
                            <span>Delivery information</span>
                        </span> 
                        <hr class="m-0"/>
                        <div style="font-weight:300;font-size:15px">
                            Normally delivered within @Model.Product.DeliveryDaysDuration@{
                                if (Model.Product.DeliveryDaysDuration < 2)
                                {
                                    <span> Day.</span>
                                }
                                else
                                {
                                    <span> Days.</span>
                                }
                            }
                            Please check exact dates in the Checkout page.
                        </div>
                    </div>
                    <div>
                        <span>
                            <i class="fas fa-undo-alt"></i>
                            <span>Return policy</span>
                        </span>
                        <hr class="m-0" />
                        <div style="font-weight:300;font-size:15px">
                            No returns
                        </div>
                    </div>
               
                </div>
            </div>
        </div>
    </div>





    <div id="review-scroll-to"></div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="section_header" style="margin-bottom:1px">
                <div class="section_header_text">
                    <h5 style="margin-top: 15px;">DESCRIPTION</h5>
                </div>
            </div>
            <div style="text-justify:inter-word;text-align:justify">
                @Html.Raw(Model.Product.Description.Replace(Environment.NewLine, "<br/>"))
            </div>

        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <div class="section_header" style="margin-bottom:1px">
                <div class="section_header_text">
                    <h5 style="margin-top: 15px;display:inline">REVIEWS (@Model.Product.Rating.TotalReviewCount)</h5>
                </div>
                <span>
                    <select class="form-control-sm" id="sort-review" onchange="SortReview(@Model.Product.Id)">
                        <option value="0">Sort by</option>
                        <option value="1">Most recent</option>
                        <option value="2">Least recent</option>
                        <option value="3">Highest rating</option>
                        <option value="4">Lowest rating</option>
                    </select>
                </span>
            </div>
            @Html.Partial("_productReview", Model.Product.Reviews)
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="section_header" style="margin-bottom:1px">
                <div class="section_header_text">
                    <h5 style="margin-top: 15px;">RELATED PRODUCTS</h5>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-1 mb-3">

        @{
            foreach (var product in Model.RelatedProducts)
            {
                <div class="col-lg-3 col-6">
                    @Html.Partial("~/Views/Product/_productCard.cshtml", product)
                </div>
            }
        }
        <div class="col-12 mb-1">
            <button class="btn primary-table-button" onclick="ShopByCategory(@Model.Product.CategoryId)">View more</button>
        </div>

    </div>
</div>
