@model DQueensFashion.Models.ProductIndexViewModel
@using DQueensFashion.Utilities

@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

<div class="container-fluid body-content">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row shop-filter-container">

                    <div class="col-md-4 p-1">
                        <input type="text" class="form-control-sm shop-filter-input" value="@ViewBag.Query" id="query"
                               placeholder="search by name, category, tags" />
                    </div>
                    <div class="col-md-3 col-6 p-1">
                        <select class="form-control-sm col-12 shop-filter-input" id="categoryId">
                            <option value="0">Category</option>
                            <option value="0">All</option>
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Id" selected="@category.Selected">@category.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3 col-6 p-1">
                        <select class="form-control-sm col-12 shop-filter-input" id="sortString">
                            <option value="0">Sort by</option>

                            @if (ViewBag.BestDealsSelected != null)
                            {
                                <option value="@AppConstant.BestDeals" selected>Best deals</option>
                            }
                            else
                            {
                                <option value="@AppConstant.BestDeals">Best deals</option>
                            }
                            @if (ViewBag.BestSellingSelected != null)
                            {
                                <option value="@AppConstant.BestSelling" selected>Best selling</option>
                            }
                            else
                            {
                                <option value="@AppConstant.BestSelling">Best selling</option>
                            }

                            <option value="@AppConstant.AlphabeticallyAZ">Alphabetically, A - Z</option>
                            <option value="@AppConstant.AlphabeticallyZA">Alphabetically, Z - A</option>
                            <option value="@AppConstant.PriceLowToHigh">Price, low to high</option>
                            <option value="@AppConstant.PriceHighToLow">Price, high to low</option>
                            <option value="@AppConstant.MostRecent">Most recent</option>
                            <option value="@AppConstant.LeastRecent">Least recent</option>
                            <option value="@AppConstant.HighestRating">Highest rating</option>
                            <option value="@AppConstant.LowestRating">Lowest rating</option>
                        </select>
                    </div>
                    <div class="col-md-2 p-1">
                        <button class="btn btn-sm btn-block shop-filter-btn" onclick="SearchProduct()" id="btnFilter">FILTER <img src="~/Content/Images/filter.svg" /></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            
            @Html.Partial("_ProductsList", Model.Products)


        </div>

    </div>

</div>

<script>

    var _query = document.getElementById("query");
    var _sortString = document.getElementById("sortString");
    var _categoryId = document.getElementById("categoryId");

    function SearchProduct() {
        document.getElementById("loading-effect").style.display = "block";
        
        $.ajax({
            url: '/product/searchproduct',
            dataType: "html",
            data: { query: _query.value, sort: _sortString.value, categoryId: _categoryId.value },
            success: function (result) {
                $("#productsList").html(result);
            },
            error: function (xhr, status, error) {
                ShowSnackbarError("Error");
                document.getElementById("loading-effect").style.display = "none";
            }
        });

    }

    function ProductPagination(pageNumber) {
         document.getElementById("loading-effect").style.display = "block";
        
        $.ajax({
            url: '/product/ProductPagination',
            dataType: "html",
            data: { query: _query.value, sort: _sortString.value, categoryId: _categoryId.value, pageNumber: pageNumber },
            success: function (result) {
                $("#productsList").html(result);
                $(window).scrollTop(0);
            },
            error: function (xhr, status, error) {
                ShowSnackbarError("Error");
                document.getElementById("loading-effect").style.display = "none";
            }
        });
    }

</script>
