
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="body-content container">
        <div class="my-3">
            <h2>About Us</h2>
            <hr />
            Hi, my name is Bukola. I am the owner of houseofdqueens; an african fashion industry that offers quality and exclusive african print fabrics, we also have collections of african inspired fashion accessories and african made clothing(ready to wear and custom made)
            <br />
            Houseofdqueens is designed to bring out the african beauty in you. Our fabrics can be used for different kinds of outfit and sewing DIY.
            <br />
            As an african lady,  I love sewing and crafting especially with african print fabrics and i will love to share with you one of the most outstanding aspects of my african culture.
            <br />
            I hope that you will love my hand made clothing, fabrics and accessories as much as I do.
            <br />
            Thank you for visiting houseofdqueens.
            <br />
            You are indeed a queen so own it.
            <br />
            Our <a href="@Url.Action("Index","Outfits")">outfits</a> are made to order. You will have to <a href="@Url.Action("Index","ContactUs")">contact us</a> personally to serve you best in this aspect.
            <br />
            <a class="btn primary-table-button mt-2" href="@Url.Action("Index","Outfits")">View samples</a>
            <a class="btn secondary-custom-button mt-2" href="@Url.Action("Index","ContactUs")">Contact us</a>
        </div>
        <div class="my-3">
            <h2>
                OUTFITS
            </h2>
            <hr />
            <div class="home-outfit-bodytext about-us-text">
                All our outfits are made to order(bespoke) because we understand that there are different needs to our customers and we are ready to satisfy you based on your needs.
                <br />
                Getting an outfit from us is without hassle. Kindly contact us here. We will attend to you personally.
                <br />
                You can pick a style from our catalog or send in a style/outfit. All our outfit are ready to be shipped out within 7-14 days.
                <br />
                Kindly note that all the outfits on our website are samples and can not be sold out you can only pick the styles.
                <br />
                When you contact us, we will ask about your size and body shape.  We are swift at answering you so kindly send in any requests or questions.
                <br />
                Thank you.
            </div>
            <div>
                <a href="@Url.Action("Index","Outfits")" class="btn mt-1 primary-table-button">View samples</a>

                <a href="@Url.Action("Shop","Product")" class="btn mt-1 secondary-table-button">Shop</a>
            </div>
        </div>
    </div>
